{% extends "base.html" %}

{% block menu %}{% include "view/menu.html" %}{% endblock menu %}

{% block head %}
<h2>Paper-Hub</h2>
<p>Sharing papers with ease and joy!</p>
{% endblock head %}

{% block content %}
<div class="page-summary">
  <p>{% autoescape off %}{{ summary_messages }}{% endautoescape %}There are total {{ paper_list|length }} paper(s).</p>
</div>
{% if paper_list %}
{% for paper in paper_list %}
<div class="paper-item">
  {% include "view/paper-item-as-card.html" %}
</div>
{% endfor %}
{% else %}
<p style="padding:20px; height:200px;">No paper is available.</p>
{% endif %}
{% endblock content %}
