<script>
function do_fetch_creator_info() {
  var nickname = $('#id_creator_nickname').val();
  if (nickname == "") {
    alert("Error: fill nickname first!");
    return 1;
  }
  var url = '{% url "api:query_user" 0 %}'.replace('0', nickname);
  fetch(url)
    .then(response => response.json())
    .then(data => {
      if (data["error"] != "") {
        alert("Error: " + data["error"]);
      } else {
        $('#id_creator_nickname').val(data["results"]["nickname"]);
        $('#id_creator_name').val(data["results"]["name"]);
        $('#id_creator_weixin_id').val(data["results"]["weixin_id"]);
        $('#id_creator_username').val(data["results"]["username"]);
      }
    });
}

function do_fetch_paper_info() {
  var id = $('#paper_query_id').val();
  if (id == "") {
    alert("Error: fill ID first!");
    return 1;
  }
  var url = '{% url "api:query_paper" 0 %}'.replace('0', id);
  fetch(url)
    .then(response => response.json())
    .then(obj => {
      if (obj["error"] != "") {
        alert("Error: " + obj["error"]);
      } else {
        $('#id_doi').val(obj["results"]["doi"]);
        $('#id_title').val(obj["results"]["title"]);
        $('#id_journal').val(obj["results"]["journal"]);
        $('#id_pub_date').val(obj["results"]["pub_date"]);
        $('#id_authors').val(obj["results"]["authors"].join("\n"));
        $('#id_abstract').val(obj["results"]["abstract"]);
        $('#id_urls').val(obj["results"]["urls"].join("\n"));
      }
    });
}
</script>
<input type="hidden" name="content" value="{{value}}">
<br>
<div class="row">
  <div class="col-25"><label for="paper_query_id">Paper ID:</label></div>
  <div class="col-75"><input id="paper_query_id" type="text" placeholder="DOI/PMID/arXivID" class="with_button"><input type="button" id="fetch_paper_info" name="fetch_paper_info" value="Fetch" class="attach_to_text" onclick="javascript:do_fetch_paper_info();"></div>
</div>
<div class="row">
  <div class="col-25">{{ form.title.label_tag }}</div>
  <div class="col-75">{{ form.title }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.journal.label_tag }}</div>
  <div class="col-75">{{ form.journal }}</div>
</div>
<br>
<div class="row">
  <div class="col-25">{{ form.comments.label_tag }}</div>
  <div class="col-75">{{ form.comments }}</div>
</div>
<br>
<div class="row">
  <div class="col-25"></div>
  <div class="col-75"><input type="submit" value="{% if current_page == "add" %}Add{% else %}Save{% endif %}"></div>
</div>
<hr>
<h2>More Details:</h2>
<div class="row">
  <div class="col-25">{{ form.doi.label_tag }}</div>
  <div class="col-75">{{ form.doi }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.pmid.label_tag }}</div>
  <div class="col-75">{{ form.pmid }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.arxiv_id.label_tag }}</div>
  <div class="col-75">{{ form.arxiv_id }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.pmcid.label_tag }}</div>
  <div class="col-75">{{ form.pmcid }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.cnki_id.label_tag }}</div>
  <div class="col-75">{{ form.cnki_id }}</div>
</div>
<br>
<div class="row">
  <div class="col-25">{{ form.authors.label_tag }}</div>
  <div class="col-75">{{ form.authors }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.pub_date.label_tag }}</div>
  <div class="col-75">{{ form.pub_date }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.abstract.label_tag }}</div>
  <div class="col-75">{{ form.abstract }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.keywords.label_tag }}</div>
  <div class="col-75">{{ form.keywords }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.urls.label_tag }}</div>
  <div class="col-75">{{ form.urls }}</div>
</div>
{% comment %}
<div class="row">
  <div class="col-25">{{ form.full_text.label_tag }}</div>
  <div class="col-75">{{ form.full_text }}</div>
</div>
{% endcomment %}
<div class="row">
  <div class="col-25">{{ form.is_preprint.label_tag }}</div>
  <div class="col-75">{{ form.is_preprint }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.is_review.label_tag }}</div>
  <div class="col-75">{{ form.is_review }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.is_open.label_tag }}</div>
  <div class="col-75">{{ form.is_open }}</div>
</div>
<br>
<div class="row">
  <div class="col-25">{{ form.is_favorite.label_tag }}</div>
  <div class="col-75">{{ form.is_favorite }}</div>
</div>
<div class="row">
  <div class="col-25">{{ form.is_private.label_tag }}</div>
  <div class="col-75">{{ form.is_private }}</div>
</div>
