{% extends "view/base.html" %}

{% block content %}
<div class="page-summary">
  <p>{% autoescape off %}{{ summary_messages }}{% endautoescape %}There are total {{ paper_list|length }} paper(s).</p>
</div>
{% if item_list %}
{% for item in item_list %}
<br>
<div class="card px-2 mx-2">
  <p>{{ item.pk }}.</p>
  <p>
    {% for t in item.trackings.all %}
    <span class="badge" style="background-color:{{t.label.color}}">{{ t.label.name }}</span>
    {% endfor %}
  </p>
  <p>{{ item.paper.pub_year }}</p>
  <p>{{ item.paper.journal }}</p>
  <p><b>{{ item.paper.title }}</b></p>
  <p>{{ item.paper.authors }}</p>
  <p><b>Abstract:</b> {{ item.paper.abstract }}</p>
  <p><b>Keywords:</b> {{ item.paper.keywords }}</p>
</div>
{% endfor %}
{% else %}
<p style="padding:20px; height:200px;">No recommendation item is available.</p>
{% endif %}
{% endblock content %}
