{% load view_extras %}
<div class="paper-info-block">
<div class="paper-op-list">
  <div class="paper-op-list-sub-left">
    <a href="{% url "view:paper" id=paper.pk %}">[{{ paper.pk }}]</a>
  </div>
  <div class="paper-op-list-sub-right">
    {% comment %}
    <a href="javascript: edit({{ paper.pk }})">[修改]</a>
    <a href="javascript: share({{ paper.pk }})">[分享]</a>
    <a href="javascript: delete({{ paper.pk }})">[删除]</a>
    {% endcomment %}
    <a href="#top">[顶部]</a>
  </div>
</div>
<div class="paper-info">
  {{ paper.publish_year }},
  <i>{{ paper.journal }}</i>.
  {% if paper.doi %}DOI: <a href="https://doi.org/{{ paper.doi }}" target="_blank">{{ paper.doi }}</a><sup>↗</sup>{% endif %}
  {% if paper.pmid %}PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ paper.pmid }}" target="_blank">{{ paper.pmid }}</a><sup>↗</sup>{% endif %}
  {% if paper.pmcid %}PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ paper.pmcid }}" target="_blank">{{ paper.pmcid }}</a><sup>↗</sup>{% endif %}
  {% if paper.arxiv_id %}arXiv ID: <a href="https://arxiv.org/abs/{{ paper.arxiv_id }}" target="_blank">{{ paper.arxiv_id }}</a><sup>↗</sup>{% endif %}
</div>
<div class="paper-title"><b>{{ paper.title }}</b></div>
<div class="paper-abstract">{% if paper.abstract %}{{ paper.abstract }}{% else %}<i>No abstract available.</i></div>{% endif %}
</div>
<div class="paper-comments-block">
<hr class="paper-sep-line">
<div class="paper-comments-head">[{{ paper.create_time|date:'Y-m-d' }}] <b><a href="{% url "view:user" id=paper.creator.pk %}">{{ paper.creator }}</a></b>:</div>
<div class="paper-comments">{% autoescape off %}{{ paper.comments|replace_line_br }}{% endautoescape %}</div>
</div>
