{% load view_extras %}
<div class="paper-info-block">
  <div class="paper-op-list">
    <div class="paper-op-list-sub-left">
      <a href="{% url "view:paper" id=paper.pk %}">[{{ paper.pk }}]</a>
    </div>
    <div class="paper-op-list-sub-right">
      {% if user.is_authenticated %}
      <a href="{% url "view:edit" id=paper.pk %}">[Edit]</a>
      <a href="{% url "view:delete" id=paper.pk %}" onclick="javascript:return(confirm('Sure to remove paper #' + {{ paper.pk }}));">[Delete]</a>
      {% comment %}
      <a href="javascript: share({{ paper.pk }})">[分享]</a>
      {% endcomment %}
      {% endif %}
      <a href="#top">[Top]</a>
    </div>
  </div>
  <div class="paper-info">
    {{ paper.pub_year }},
    <i>{{ paper.journal }}</i>.
    {% if paper.doi %}DOI: <a href="https://doi.org/{{ paper.doi }}" target="_blank">{{ paper.doi }}</a><sup>↗</sup>{% endif %}
    {% if paper.pmid %}PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ paper.pmid }}" target="_blank">{{ paper.pmid }}</a><sup>↗</sup>{% endif %}
    {% if paper.pmcid %}PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ paper.pmcid }}" target="_blank">{{ paper.pmcid }}</a><sup>↗</sup>{% endif %}
    {% if paper.arxiv_id %}arXiv ID: <a href="https://arxiv.org/abs/{{ paper.arxiv_id }}" target="_blank">{{ paper.arxiv_id }}</a><sup>↗</sup>{% endif %}
    {% if paper.cnki_id %}CNKI ID: <a href="https://kns.cnki.net/kcms/detail/detail.aspx?dbcode=CJFD&filename={{ paper.cnki_id }}" target="_blank">{{ paper.cnki_id|escape }}</a><sup>↗</sup>{% endif %}
    <div class="paper-title"><b>{{ paper.title }}</b></div>
    <div style="padding: 0 0 10px 0;">
      {% if paper.is_favorite %}<b>[Favorite]</b>{% endif %}
      {% if paper.is_preprint %}[Preprint]{% endif %}
      {% if paper.is_review %}[Review]{% endif %}
      {% if paper.is_open %}[Open]{% endif %}
    </div>
    <div style="font-size: 14px; float: right; margin-top: -1.5em;"><a id="paper_button_{{ paper.pk }}" href="javascript:toggle({{paper.pk}});">{% if current_page == "paper" %}[Less]{% else %}[More]{% endif %}</a></div>
    <script>
      function toggle(id) {
        e = document.getElementById('paper_detail_' + id);
        b = document.getElementById('paper_button_' + id);
        if (e.style.display == 'none') {
          e.style.display = 'block';
          b.innerText = '[Less]';
        } else {
          e.style.display = 'none';
          b.innerText = '[More]';
        }
      }
    </script>
  </div>
  <div class="paper-details" id="paper_detail_{{ paper.pk }}"{% if current_page != "paper" %} style="display: none;"{% endif %}>
    <div class="paper-authors">
      <b>Authors:</b>
      {{ paper.authors|show_author_list }}
    </div>
    <div class="paper-abstract">
      <div class="abstract-label"><b>Abstract:</b></div>
      <div>{% if paper.abstract %}{% autoescape off %}{{ paper.abstract|replace_line_br }}{% endautoescape %}{% else %}<i>No abstract available.</i>{% endif %}</div>
    </div>
    {% if paper.keywords %}
    <div class="paper-keywords">
      <b>Keywords:</b>
      {{ paper.keywords }}
    </div>
    {% endif %}
    {% if paper.urls %}
    <div class="paper-urls">
      <div class="url-label"><b>Related Links:</b></div>
      <div class="url-item"><ul>
        {% with paper.urls|splitlines as urls %}
        {% for u in urls %}
        <li><a href="{{ u }}" target="_blank">{{ u }}</a></li>
        {% endfor %}
        {% endwith %}
      </ul></div>
    </div>
    {% endif %}
  </div>
</div>
<div class="paper-comments-block">
  <hr class="paper-sep-line">
  <div class="paper-comments-head">[{{ paper.create_time|date:'Y-m-d H:i:s' }}] <b><a href="{% url "view:user" id=paper.creator.pk %}">{{ paper.creator }}</a></b>:</div>
  <div class="paper-comments">{% autoescape off %}{{ paper.comments|replace_line_br }}{% endautoescape %}</div>
</div>
