<div class="row">
    <div class="col-25">{{ form.creator.label_tag }}</div>
    <div class="col-75">{{ form.creator }}</div>
</div>
{% if paper.create_time %}
<div class="row">
    <div class="col-25">{{ form.create_time.label_tag }}</div>
    <div class="col-75">{{ form.create_time }}</div>
</div>
{% endif %}
{% if paper.update_time %}
<div class="row">
    <div class="col-25">{{ form.update_time.label_tag }}</div>
    <div class="col-75">{{ form.update_time }}</div>
</div>
{% endif %}
<br>
<div class="row">
    <div class="col-25">{{ form.doi.label_tag }}</div>
    <div class="col-75">{{ form.doi }}<input type="button" id="fetch_doi" name="fetch_doi" value="Fetch" class="attach_to_text"></div>
</div>
<div class="row">
    <div class="col-25">{{ form.pmid.label_tag }}</div>
    <div class="col-75">{{ form.pmid }}<input type="button" id="fetch_pmid" name="fetch_pmid" value="Fetch" class="attach_to_text"></div>
</div>
<div class="row">
    <div class="col-25">{{ form.arxiv_id.label_tag }}</div>
    <div class="col-75">{{ form.arxiv_id }}<input type="button" id="fetch_arxiv_id" name="fetch_arxiv_id" value="Fetch" class="attach_to_text"></div>
</div>
<div class="row">
    <div class="col-25">{{ form.pmcid.label_tag }}</div>
    <div class="col-75">{{ form.pmcid }}<input type="button" id="fetch_pmcid" name="fetch_pmcid" value="Fetch" class="attach_to_text"></div>
</div>
<div class="row">
    <div class="col-25">{{ form.cnki_id.label_tag }}</div>
    <div class="col-75">{{ form.cnki_id }}<input type="button" id="fetch_cnki_id" name="fetch_cnki_id" value="Fetch" class="attach_to_text"></div>
</div>
<br>
<div class="row">
    <div class="col-25">{{ form.journal.label_tag }}</div>
    <div class="col-75">{{ form.journal }}</div>
</div>
<div class="row">
    <div class="col-25">{{ form.title.label_tag }}</div>
    <div class="col-75">{{ form.title }}</div>
</div>
<div class="row">
    <div class="col-25">{{ form.authors.label_tag }}</div>
    <div class="col-75">{{ form.authors }}</div>
</div>
<div class="row">
    <div class="col-25">{{ form.pub_date.label_tag }}</div>
    <div class="col-75">{{ form.pub_date }}</div>
</div>
<div class="row">
    <div class="col-25">{{ form.abstract.label_tag }}</div>
    <div class="col-75">{{ form.abstract }}</div>
</div>
<div class="row">
    <div class="col-25">{{ form.keywords.label_tag }}</div>
    <div class="col-75">{{ form.keywords }}</div>
</div>
<div class="row">
    <div class="col-25">{{ form.urls.label_tag }}</div>
    <div class="col-75">{{ form.urls }}</div>
</div>
{% comment %}
<div class="row">
    <div class="col-25">{{ form.full_text.label_tag }}</div>
    <div class="col-75">{{ form.full_text }}</div>
</div>
{% endcomment %}
<div class="row">
    <div class="col-25">{{ form.is_review.label_tag }}</div>
    <div class="col-75">{{ form.is_review }}</div>
</div>
<div class="row">
    <div class="col-25">{{ form.is_open.label_tag }}</div>
    <div class="col-75">{{ form.is_open }}</div>
</div>
<br>
<div class="row">
    <div class="col-25">{{ form.is_private.label_tag }}</div>
    <div class="col-75">{{ form.is_private }}</div>
</div>
<div class="row">
    <div class="col-25">{{ form.comments.label_tag }}</div>
    <div class="col-75">{{ form.comments }}</div>
</div>
