<!DOCTYPE html>{% load static %}{% load view_extras %}
<html>
<head>
  <meta charset="utf-8">
  <title>{{ site_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'styles.css' %}">{% block css %}{% endblock css %}
</head>
<body>
  <a name="top">
  <header>
    <div class="banner">
      <h1 class="logo"><a href="{% url 'view:index' %}">{{ site_name }}</a></h1>
      <div class="search-box">
        <form style="display:none;">
          <input id="search_text" class="search-input" type="text" value="{{ search_text }}"><input id="search_button" class="search-button" type="hidden" value="Search">
        </form>
      </div>
      <input id="login_button" class="login-button" type="button" value="Login" style="display:none">
    </div>
  </header>
  <div class="container">
    <nav class="menu">
{% if not request.path|is_for_xiangma %}
      <a class="menu-item{% if current_page == "user" %} current-item{% endif %}" href="{% url 'view:user' id=1 %}">My Collection</a>
      <a class="menu-item{% if current_page == "recent" %} current-item{% endif %}" href="{% url 'view:recent' %}">Recent Papers</a>
      <a class="menu-item{% if current_page == "all" %} current-item{% endif %}" href="{% url 'view:all' %}">All Papers</a>
      <a class="menu-item{% if current_page == "list" %} current-item{% endif %}" href="{% url 'view:list' id=1 %}">As List</a>
      <a class="menu-item{% if current_page == "label" %} current-item{% endif %}" href="{% url 'view:label' name='响马' %}">As Label</a>
      <a class="menu-item{% if current_page == "paper" %} current-item{% endif %}" href="{% url 'view:paper' id=1 %}">Single Paper</a>
      <a class="menu-item{% if current_page == "stat" %} current-item{% endif %}" href="{% url 'view:stat' %}">Statistics</a>
      <a class="menu-item{% if current_page == "add" %} current-item{% endif %}" href="{% url 'view:add' %}">Add New</a>
{% else %}
      <a class="menu-item{% if current_page == "recent" %} current-item{% endif %}" href="{% url 'view:recent' %}">近一周分享</a>
      <a class="menu-item{% if current_page == "all" %} current-item{% endif %}" href="{% url 'view:all' %}">所有分享</a>
      <a class="menu-item{% if current_page == "stat" %} current-item{% endif %}" href="{% url 'view:stat' %}">响马榜单</a>
{% endif %}
    </nav>
    <div class="content">
      <article>
        {% if error_message %}<div id="error_message" class="error_message">{{ error_message }}<span class="close" onclick="this.parentElement.style.display = 'none';">x</span></div>{% endif %}
        {% block content %}{% endblock content %}
      </article>
    </div>
  </div>
  <footer>
    <p>&copy; <a href="https://yanlinlin.cn/" target="_blank">Linlin Yan</a>, 2022 | <a href="http://beian.miit.gov.cn/" target="_blank">京ICP备18031542号-9</a> | Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a></p>
  </footer>
  {% block javascript %}{% endblock javascript %}
</body>
</html>
