<!DOCTYPE html>{% load static %}{% load view_extras %}{% load tz %}{% timezone "Asia/Shanghai" %}
<html>
<head>
  <meta charset="utf-8">
  <title>Paper-Hub</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="CJeulU9yTowOBo-3EpJYEAhlHcG1NAHauYkG4LiIVQY" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}"/>
  <link rel="stylesheet" href="{% static 'styles.css' %}">{% block css %}{% endblock css %}
  {% include "view/sub/google-tag-manager-header.html" %}
</head>
<body>
  <a id="top"></a>
  <header>
    <div class="banner">
      <h1 class="logo"><a href="{% url 'index' %}">Paper-Hub</a></h1>
      <div class="login-panel">
        {% if user.is_authenticated %}
        {{ user }}
        <a href="{% url 'view:logout' %}?ref={{ request.path }}">[Logout]</a>
        {% else %}
        <a href="{% url 'view:login' %}?ref={{ request.path }}">[Login]</a>
        {% endif %}
      </div>
      <nav>{% block nav %}{% endblock nav %}</nav>
    </div>
  </header>
  <div class="container">
    <nav class="menu">{% block menu %}{% endblock menu %}</nav>
    <div class="content">
      <article>
        {% if error_message %}<div id="error_message" class="error_message">{{ error_message }}</div>{% endif %}
        {% block content %}{% endblock content %}
      </article>
    </div>
  </div>
  <footer>
    <p>&copy; <a href="https://yanlinlin.cn/" target="_blank">Linlin Yan</a>, 2022 | <a href="http://beian.miit.gov.cn/" target="_blank">京ICP备18031542号-9</a> | Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a></p>
  </footer>
  {% block javascript %}{% endblock javascript %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-1JBLE3S3G0"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-1JBLE3S3G0');
  </script>
  <script>
    window.onload = function() {
        var links = document.getElementsByTagName('a');
        for (var i in links) {
            if (links[i].nodeType != 1) continue;
            console.log(links[i].hostname);
            if (links[i].hostname != '' && links[i].hostname != window.location.hostname) {
                links[i].className += 'external';
                links[i].setAttribute('target', '_blank');
            }
        }
    }
    </script>
</body>
{% include "view/sub/google-tag-manager-header.html" %}
{% endtimezone %}</html>
