<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Paper-Hub: An easy way to read and share papers for scientific research</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "sub/inline-css.html" %}
  </head>
  <body>
    {% include "sub/header.html" %}
    <div class="container">
      {% include "sub/left-sidebar.html" %}
      <div class="content">
        <article>
{% if paper_list %}
          <p class="summary">There are total {{ paper_list|length }} paper(s).</p>
          <hr>
  {% for paper in paper_list %}
    {% include "sub/paper-item.html" %}
  {% endfor %}
{% else %}
          <p>No paper is available.</p>
{% endif %}
        </article>
      </div>
    </div>
    {% include "sub/footer.html" %}
  </body>
</html>