{% extends "base.html" %}

{% block content %}
{% if paper_list %}
<p class="summary">There are total {{ paper_list|length }} paper(s).</p>
{% for paper in paper_list %}
<div class="paper-item">
  <p>
    {{ paper.publish_year }},
    <i>{{ paper.journal }}</i>.
    {% if paper.doi %}DOI: <a href="https://doi.org/{{ paper.doi }}" target="_blank">{{ paper.doi }}</a>{% endif %}
    {% if paper.pmid %}PMID: <a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ paper.pmid }}" target="_blank">{{ paper.pmid }}</a>{% endif %}
    {% if paper.pmcid %}PMCID: <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ paper.pmcid }}" target="_blank">{{ paper.pmcid }}</a>{% endif %}
    {% if paper.arxiv_id %}arXiv ID: <a href="https://arxiv.org/abs/{{ paper.arxiv_id }}" target="_blank">{{ paper.arxiv_id }}</a>{% endif %}
  </p>
  <p><b>{{ paper.title }}</b></p>
  <p class="abstract">{% if paper.abstract %}{{ paper.abstract }}{% else %}<i>No abstract available.</i></p>{% endif %}
  <hr style="border-top:1px dashed #666;">
  <p class="comments">[{{ paper.create_time|date:'Y-m-d' }}] <b>{{ paper.creator }}: </b></p>
  <p>{{ paper.comments }}</p>
</div>
{% endfor %}
{% else %}
<p>No paper is available.</p>
{% endif %}
{% endblock content %}
