backend/.venv/
backend/.venv
__pycache__/
*.pyc
*.pyo
.git/
.gitignore
.env
.env.docker
.vscode/
.idea/
node_modules/
backend/static_root/
backend/db.sqlite3*
backend/*.sqlite3
backend/cache/
backend/logs/
backend/*.log
backend/secret_key.txt
backend/pubmed/
frontend/node_modules/
frontend/dist/
