.venv/
.venv
__pycache__/
*.pyc
*.pyo
.git/
.gitignore
.env
.env.docker
.vscode/
.idea/
node_modules/
static_root/
db.sqlite3*
*.sqlite3
cache/
logs/
log/
*.log
secret_key.txt
pubmed/
frontend/node_modules/
frontend/dist/
