# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
backend/.venv/
.venv/

# Django
backend/db.sqlite3*
backend/static_root/
backend/cache/
backend/*.log

# Environment Variables
backend/.env
.env

# Node.js (Frontend)
frontend/node_modules/
frontend/dist/

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Logs
backend/log/
*.log
npm-debug.log*

# Project specific
backend/pubmed/
backend/import-pubmed-index*.log
backend/db.sqlite3.bak*

# R files
.RData
.Rhistory
node_modules/
