{% extends "group/base.html" %}
{% load view_extras %}
{% load static %}

{% block content %}
<section>
  {% if current_page == "group_journal" %}
  <div class="my-3">
  来自杂志 <a href="{% url 'group:journal' journal_name=journal_name|urlencode_full group_name=group.name %}"><i>{{ journal_name }}</i></a> 的文献。
  </div>
  {% endif %}
  {% if current_page == "group_user" %}
  <div class="my-3">
    来自用户 <a href="{% url "group:user" id=user_info.pk group_name=group.name %}">{{ user_info }}</a> 的文献。
  </div>
  {% endif %}

  {% if query %}
  <div class="my-3">
    当前搜索：<div class="d-inline text-success">{{ query }}</div>
  </div>
  {% endif %}

  {% if not reviews %}
  <div class="my-5 text-center" style="min-height:200px;">
    暂无任何内容。
  </div>
  {% else %}
  <div class="my-3">
    当前共找到 {{ reviews.paginator.count }} 篇文献分享{% if reviews.paginator.num_pages > 1 %}，本页显示第 {{ reviews.start_index }} - {{ reviews.end_index }} 篇{% endif %}。
  </div>

  {% include "group/includes/paginator.html" %}

  {% for review, index in items %}
  <div id="card_review_{{ review.pk }}" class="card p-2 my-3 d-flex flex-row">
    <div class="p-2 text-start">{{ index }}.</div>
    <div class="p-2 text-start flex-fill">
      {% include "group/includes/review-info.html" %}
      <div id="review_comment_{{ review.pk }}" class="my-3">{{ review.comment }}</div>
      {% with review.paper as paper %}
      <div id="card_paper_{{ paper.pk }}" class="card p-2 ms-4">
        <div id="info_{{ paper.pk }}" class="text-start">
          <div class="flex-fill">{% include "group/includes/paper-info.html" %}</div>
        </div>
        {% include "group/includes/title-with-trans.html" with title_link=True link_paper=False link_lib_paper=False %}
        {% include "view/includes/paper-author-list.html" %}
        {% include "group/includes/abstract-with-trans.html" with allow_collapse=True %}
      </div>
      {% endwith %}
    </div>
  </div>
  {% endfor %}

  {% include "group/includes/paginator.html" %}
  {% include "group/includes/review-info-js.html" %}
  {% include "view/includes/paper-js.html" %}
{% endif %}
</section>
{% endblock content %}
