<div id="editReviewModal" class="modal fade" data-bs-backdrop="static" role="dialog">
  <div id="editReviewModalDialog" class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="editReviewModalDialogTitle">修改文献分享评论</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editReviewForm" method="post" onsubmit="return submit_review(event)">
          {% csrf_token %}
          <input type="hidden" id="editReviewModalReviewId">
          <input type="hidden" id="editReviewModalPaperId">
          <input type="hidden" id="editReviewModalEditPaperInfo" value="false">
          <div class="from-group text-start flex-fill my-3">
            <label class="mb-3" id="editReviewModalLabel" for="editReviewModalComment"></label>
            <textarea class="form-control" id="editReviewModalComment" name="comment" rows="8" placeholder="请输入评论" required></textarea>
          </div>
          <div id="editReviewModalCard" class="card p-2">
            <div class="d-flex">
              <div class="flex-fill">
                <div class="text-start mb-3">文献信息</div>
              </div>
              <div class="text-end">
                <button type="button" class="btn btn-outline-primary" onclick="javascript:enable_edit_paper()">同时修改文献信息</button>
              </div>
            </div>
          </div>
          <div id="editReviewModalPaperInfo" class="card p-2 d-none">
            <!-- 文献ID -->
            <div class="row align-items-center">
              <div class="col-2 text-end"><label class="mt-3" for="editReviewModalID">文献ID</label></div>
              <div class="col-10 d-flex">
                <div class="flex-fill form-group">
                  <div class="input-group w-auto">
                    <input type="text" class="form-control" id="editReviewModalID" name="editReviewModalID" placeholder="DOI/PMID/PMCID/arXivID">
                    <button type="button" class="btn btn-primary" onclick="javascript:query_paper_info()">Query</button>
                  </div>
                </div>
                <div class="text-end ms-2">
                  <button type="button" class="btn btn-outline-primary" onclick="javascript:disable_edit_paper()">取消修改文献信息</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row align-items-center p-2">
              <div class="col-2"></div>
              <div class="col-5 text-center">待提交信息</div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalAllConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input_all()">&lt;&lt;</button>
              </div>
              <div class="col-4 text-center">参考信息</div>
            </div>
            <!-- 标题 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">标题</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalTitle" name="title" required></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalTitleConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Title')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalTitle2" readonly></div>
            </div>
            <!-- 杂志 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">杂志</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalJournal" name="journal" required></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalJournalConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Journal')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalJournal2" readonly></div>
            </div>
            <!-- 发表日期 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">发表日期</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalPubDate" name="pub_date"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalPubDateConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('PubDate')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalPubDate2" readonly></div>
            </div>
            <!-- 作者列表 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">作者列表</div>
              <div class="col-5"><textarea class="form-control" id="editReviewModalAuthors" name="authors" rows="3"></textarea></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalAuthorsConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Authors')">&lt;</button>
              </div>
              <div class="col-4"><textarea class="form-control" id="editReviewModalAuthors2" rows="3" readonly></textarea></div>
            </div>
            <!-- 机构列表 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">机构列表</div>
              <div class="col-5"><textarea class="form-control" id="editReviewModalAffiliations" name="affiliations" rows="3"></textarea></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalAffiliationsConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Affiliations')">&lt;</button>
              </div>
              <div class="col-4"><textarea class="form-control" id="editReviewModalAffiliations2" rows="3" readonly></textarea></div>
            </div>
            <!-- 摘要 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">摘要</div>
              <div class="col-5"><textarea class="form-control" id="editReviewModalAbstract" name="abstract" rows="3"></textarea></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalAbstractConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Abstract')">&lt;</button>
              </div>
              <div class="col-4"><textarea class="form-control" id="editReviewModalAbstract2" rows="3" readonly></textarea></div>
            </div>
            <!-- 关键词 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">关键词</div>
              <div class="col-5"><textarea class="form-control" id="editReviewModalKeywords" name="keywords" rows="3"></textarea></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalKeywordsConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Keywords')">&lt;</button>
              </div>
              <div class="col-4"><textarea class="form-control" id="editReviewModalKeywords2" rows="3" readonly></textarea></div>
            </div>
            <!-- URLs -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">URLs</div>
              <div class="col-5"><textarea class="form-control" id="editReviewModalURLs" name="urls" rows="3"></textarea></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalURLsConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('URLs')">&lt;</button>
              </div>
              <div class="col-4"><textarea class="form-control" id="editReviewModalURLs2" rows="3" readonly></textarea></div>
            </div>
            <!-- DOI -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">DOI</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalDOI" name="doi"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalDOIConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('DOI')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalDOI2" readonly></div>
            </div>
            <!-- PMID -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">PMID</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalPMID" name="pmid"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalPMIDConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('PMID')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalPMID2" readonly></div>
            </div>
            <!-- arXiv ID -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">arXiv ID</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalArXivID" name="arxiv_id"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalArXivIDConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('ArXivID')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalArXivID2" readonly></div>
            </div>
            <!-- PMCID -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">PMCID</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalPMCID" name="pmcid"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalPMCIDConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('PMCID')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalPMCID2" readonly></div>
            </div>
            <!-- CNKI ID -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">CNKI ID</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalCNKIID" name="cnki_id"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalCNKIIDConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('CNKIID')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalCNKIID2" readonly></div>
            </div>
            <!-- 论文语种 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">论文语种</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalLang" name="lang"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalLangConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Lang')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalLang2" readonly></div>
            </div>
          </div>
          <div class="text-end mt-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
function edit_review_new(review_id, paper_id) {
  $('#editReviewModalReviewId').val(review_id);
  $('#editReviewModalPaperId').val(paper_id);
  $('#editReviewModalLabel').text($('#review_creator_' + review_id).text());
  $('#editReviewModalComment').text($('#review_comment_' + review_id).text());
  $('#editReviewModalTitle').val($('#title_' + paper_id + '_text').text());
  $('#editReviewModalJournal').val($('#journal_' + paper_id).text());
  $('#editReviewModalDOI').val($('#doi_' + paper_id).text());
  $('#editReviewModalPMID').val($('#pmid_' + paper_id).text());
  $('#editReviewModalPMCID').val($('#pmcid_' + paper_id).text());
  $('#editReviewModalArXivID').val($('#arxiv_' + paper_id).text());
  $('#editReviewModalCNKIID').val($('#cnki_' + paper_id).text());
  $('#editReviewModal').modal('show');
}

function enable_edit_paper() {
  $('#editReviewModalEditPaperInfo').val('true');
  $('#editReviewModalPaperInfo').addClass('d-block');
  $('#editReviewModalPaperInfo').removeClass('d-none');
  $('#editReviewModalCard').addClass('d-none');
  $('#editReviewModalCard').removeClass('d-block');
  $('#editReviewModalDialog').addClass('modal-xl');
  $('#editReviewModalDialog').removeClass('modal-lg');
}

function disable_edit_paper() {
  $('#editReviewModalEditPaperInfo').val('false');
  $('#editReviewModalPaperInfo').addClass('d-none');
  $('#editReviewModalPaperInfo').removeClass('d-block');
  $('#editReviewModalCard').addClass('d-block');
  $('#editReviewModalCard').removeClass('d-none');
  $('#editReviewModalDialog').addClass('modal-lg');
  $('#editReviewModalDialog').removeClass('modal-xl');
}

function setAndCompareValues(field, value) {
  var element = $('#editReviewModal' + field + '2');
  if (Array.isArray(value)) {
      element.val(value.join('\n'));
  } else {
      element.val(value);
  }
  var originalValue = $('#editReviewModal' + field).val();
  var newValue = element.val();
  var isDisabled = originalValue === newValue || newValue === '';
  console.log(field + ': ' + originalValue + ' -> ' + newValue + ' (' + isDisabled + ')');
  $('#editReviewModal' + field + 'Confirm').prop("disabled", isDisabled);
}

function fill_input(id) {
  if (!$('#editReviewModal' + id + 'Confirm').prop("disabled")) {
    var value = $('#editReviewModal' + id + '2').val();
    $('#editReviewModal' + id).val(value);
  }
}

function fill_input_all() {
  fill_input('Title');
  fill_input('Journal');
  fill_input('PubDate');
  fill_input('Authors');
  fill_input('Affiliations');
  fill_input('Abstract');
  fill_input('Keywords');
  fill_input('URLs');
  fill_input('DOI');
  fill_input('PMID');
  fill_input('ArXivID');
  fill_input('PMCID');
  fill_input('CNKIID');
  fill_input('Lang');
}

function query_paper_info() {
  var identifier = $('#editReviewModalID').val();
  $.ajax({
    url: "{% url 'api:query_paper_info' %}",
    type: 'POST',
    headers: { "X-CSRFToken": '{{csrf_token}}' },
    data: { identifier: identifier },
    success: function (data) {
      if (!data.success) {
        alert('Failed to query paper info by ID (' + $('#editReviewModalID').val() + ').\n' + data.error);
      } else {
        console.log(data.results);
        setAndCompareValues('Title', data.results.title);
        setAndCompareValues('Journal', data.results.journal);
        setAndCompareValues('PubDate', data.results.pub_date);
        setAndCompareValues('Authors', data.results.authors);
        setAndCompareValues('Affiliations', data.results.affiliations);
        setAndCompareValues('Abstract', data.results.abstract);
        setAndCompareValues('Keywords', data.results.keywords);
        setAndCompareValues('URLs', data.results.urls);
        setAndCompareValues('DOI', data.results.doi);
        setAndCompareValues('PMID', data.results.pmid);
        setAndCompareValues('ArXivID', data.results.arxiv_id);
        setAndCompareValues('PMCID', data.results.pmcid);
        setAndCompareValues('CNKIID', data.results.cnki_id);
        setAndCompareValues('Lang', data.results.language);
      }
    },
    error: function () {
      alert('An error occurred while processing your request.');
    }
  });
}

function submit_review(event) {
  event.preventDefault();
  data = {
    review_id: $('#editReviewModalReviewId').val(),
    paper_id: $('#editReviewModalPaperId').val(),
    comment: $('#editReviewModalComment').val()
  };
  editPaperInfo = $('#editReviewModalEditPaperInfo').val();
  if (editPaperInfo) {
    data.paper = {};
    data.paper.title = $('#editReviewModalTitle').val();
    data.paper.journal = $('#editReviewModalJournal').val();
    data.paper.pub_date = $('#editReviewModalPubDate').val();
    data.paper.authors = $('#editReviewModalAuthors').val();
    data.paper.affiliations = $('#editReviewModalAffiliations').val();
    data.paper.abstract = $('#editReviewModalAbstract').val();
    data.paper.keywords = $('#editReviewModalKeywords').val();
    data.paper.urls = $('#editReviewModalURLs').val();
    data.paper.doi = $('#editReviewModalDOI').val();
    data.paper.pmid = $('#editReviewModalPMID').val();
    data.paper.arxiv_id = $('#editReviewModalArXivID').val();
    data.paper.pmcid = $('#editReviewModalPMCID').val();
    data.paper.cnki_id = $('#editReviewModalCNKIID').val();
    data.paper.lang = $('#editReviewModalLang').val();
  }
  console.log(data);
  $.ajax({
    url: "{% url 'api:submit_review' %}",
    type: 'POST',
    headers: { "X-CSRFToken": '{{csrf_token}}' },
    data: data,
    success: function (data) {
      if (!data.success) {
        alert('Edit review failed!\n' + data.error);
      } else {
        //location.reload(false);
      }
    },
    error: function () {
      alert('An error occurred while processing your request.');
    }
  });
  return false;
}
</script>

<div class="modal fade" id="reviewModal" data-bs-backdrop="static" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="reviewModalLabel">Edit review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="reviewEditForm" method="post">
          {% csrf_token %}
          <input type="hidden" id="reviewModalPk">
          <div class="row mb-3">
            <div class="col-6 form-group">
              <label class="mt-3" for="reviewModalUsername">Username</label>
              <input type="text" class="form-control" id="reviewModalUsername" name="reviewModalUsername" required readonly>
            </div>
            <div class="col-6 form-group">
              <label class="mt-3" for="reviewModalCreateTime">Create Time</label>
              <input type="text" class="form-control" id="reviewModalCreateTime" name="reviewModalCreateTime" required readonly>
            </div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
              <label class="mt-3" for="reviewModalreviewID">review ID</label>
              <div class="input-group w-auto">
                <input type="text" class="form-control" id="reviewModalreviewID" name="reviewModalreviewID" required placeholder="DOI/PMID/PMCID/arXivID">
                <button type="button" class="btn btn-primary" id="reviewModalQuery">Query</button>
              </div>
            </div>
            <div class="col-2 form-group">
              <label class="mt-3" for="reviewModalPubYear">Pub Year</label>
              <input type="text" class="form-control" id="reviewModalPubYear" name="reviewModalPubYear" required>
            </div>
            <div class="col-4 form-group">
              <label class="mt-3" for="reviewModalJournal">Journal</label>
              <input type="text" class="form-control" id="reviewModalJournal" name="reviewModalJournal" required>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="mt-3" for="reviewModalTitle">Title</label>
            <input type="text" class="form-control" id="reviewModalTitle" name="reviewModalTitle" required>
          </div>
          <div class="form-group">
            <label class="mt-3" for="reviewModalComment">Comment</label>
            <textarea class="form-control" id="reviewModalComment" name="reviewModalComment" rows="10"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="reviewModalSave">Save</button>
      </div>
    </div>
  </div>
</div>
<script>
function get_review_id(id) {
  var review_id = '';
  if ($('#review-doi-' + id)) {
    review_id = $('#review-doi-' + id).text();
  } else if ($('#review-pmid-' + id)) {
    review_id = $('#review-pmid-' + id).text();
  } else if ($('#review-pmcid-' + id)) {
    review_id = $('#review-pmcid-' + id).text();
  } else if ($('#review-arxiv-id-' + id)) {
    review_id = $('#review-arxiv-id-' + id).text();
  } else if ($('#review-cnki-id-' + id)) {
    review_id = $('#review-cnki-id-' + id).text();
  }
  return review_id;
}

function edit_review(id) {
  $('#reviewModalLabel').text('Edit review');
  $('#reviewModalUsername').prop("readonly", true);
  $('#reviewModalCreateTime').prop("readonly", true);
  $('#reviewModalPk').val(id);
  $('#reviewModalUsername').val($('#review-user-' + id).text());
  $('#reviewModalCreateTime').val($('#review-create-time-' + id).text());
  $('#reviewModalreviewID').val(get_review_id(id));
  $('#reviewModalTitle').val($('#review-title-' + id).text());
  $('#reviewModalPubYear').val($('#review-pub-year-' + id).text());
  $('#reviewModalJournal').val($('#review-journal-' + id).text());
  $('#reviewModalComment').val($('#review-comment-' + id).text());
  $('#reviewModal').modal('show');
}

function add_review() {
  $('#reviewModalLabel').text('Add review');
  $('#reviewModalUsername').prop("readonly", false);
  $('#reviewModalCreateTime').prop("readonly", false);
  $('#reviewModalPk').val('');
  $('#reviewModalUsername').val('');
  $('#reviewModalCreateTime').val('');
  $('#reviewModalreviewID').val('');
  $('#reviewModalTitle').val('');
  $('#reviewModalPubYear').val('');
  $('#reviewModalJournal').val('');
  $('#reviewModalComment').val('');
  $('#reviewModal').modal('show');
}

/*
$(document).ready(function() {
  $('#reviewModal').on('shown.bs.modal', () => {
    if ($('#reviewModalLabel').text() == 'Add review') {
      $('#reviewModalUsername').focus();
    } else {
      $('#reviewModalreviewID').focus();
    }
  })

  $('#reviewModalQuery').click(function () {
    review_id = $('#reviewModalreviewID').val();
    url = "{% url 'api:query_review' 'xxxxxx' %}".replace('xxxxxx', review_id);
    $.ajax({
      url: url,
      success: function (data) {
        if (!data.success) {
          alert('Failed to query review info by ID (' + review_id + ').\n' + data.error);
        } else {
          $('#reviewModalTitle').val(data.results.title);
          $('#reviewModalPubYear').val(data.results.pub_year);
          $('#reviewModalJournal').val(data.results.journal);
        }
      },
      error: function () {
        alert('An error occurred while processing your request.');
      }
    })
  })

  function ajax_add_review() {
    $.ajax({
      url: "{% url 'api:add_review' %}",
      type: 'POST',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: {
        group_name: '{{group.name}}',
        username: $('#reviewModalUsername').val(),
        create_time: $('#reviewModalCreateTime').val(),
        review_id: $('#reviewModalreviewID').val(),
        title: $('#reviewModalTitle').val(),
        pub_year: $('#reviewModalPubYear').val(),
        journal: $('#reviewModalJournal').val(),
        comment: $('#reviewModalComment').val()
      },
      success: function (data) {
        if (!data.success) {
          alert('Add review failed!\n' + data.error);
        } else {
          location.reload(false);
        }
      },
      error: function () {
        alert('An error occurred while processing your request.');
      }
    })
  }

  function ajax_edit_review() {
    $.ajax({
      url: "{% url 'api:edit_review' %}",
      type: 'POST',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: {
        id: $('#reviewModalPk').val(),
        review_id: $('#reviewModalreviewID').val(),
        title: $('#reviewModalTitle').val(),
        pub_year: $('#reviewModalPubYear').val(),
        journal: $('#reviewModalJournal').val(),
        comment: $('#reviewModalComment').val()
      },
      success: function (data) {
        if (!data.success) {
          alert('Edit review failed!\n' + data.error);
        } else {
          location.reload(false);
        }
      },
      error: function () {
        alert('An error occurred while processing your request.');
      }
    })
  }

  $('#reviewModalSave').click(function () {
    if ($('#reviewModalLabel').text() == 'Add review') {
      ajax_add_review();
    } else {
      ajax_edit_review();
    }
  })
})
*/

function delete_review(id) {
  if (confirm('Are you sure to delete the item?')) {
    $.ajax({
      url: "{% url 'api:delete_review' %}",
      type: 'POST',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: { review_id: id },
      success: function (data) {
        if (!data.success) {
          alert('Delete review failed!\n' + data.error);
        } else {
          {% if current_page == 'review' %}
          location.href = "{% url 'group:all' group_name=group.name %}";
          {% else %}
          location.reload(false);
          {% endif %}
        }
      },
      error: function () {
        alert('An error occurred while processing your request.');
      }
    });
  }
}

function restore_review(id) {
  $.ajax({
    url: "{% url 'api:restore_review' %}",
    type: 'POST',
    headers: { "X-CSRFToken": '{{csrf_token}}' },
    data: { review_id: id },
    success: function (data) {
      if (!data.success) {
        alert('Restore review failed!\n' + data.error);
      } else {
        location.reload(false);
      }
    },
    error: function () {
      alert('An error occurred while processing your request.');
    }
  });
}

function delete_review_forever(id) {
  if (confirm('Are you sure to delete the item forever?')) {
    $.ajax({
      url: "{% url 'api:delete_review_forever' %}",
      type: 'POST',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: { review_id: id },
      success: function (data) {
        if (!data.success) {
          alert('Delete review failed!\n' + data.error);
        } else {
          location.reload(false);
        }
      },
      error: function () {
        alert('An error occurred while processing your request.');
      }
    });
  }
}
</script>
