{% extends "base.html" %}
{% load view_extras %}
{% load static %}

{% block banner %}
<div class="text-start">
  <a class="navbar-brand fs-2" href="/group/{{ group.name }}">{{ group.display_name }}</a>
  <p>{{ group.desc }}</p>
</div>
{% endblock banner %}

{% block content %}
<div class="p-2 text-start flex-fill">
  <div class="d-flex flex-row">
    <div class="flex-fill"><a href="{% url "group:user" id=review.creator.pk group_name=group.name %}">{{ review.creator }}</a>:</div>
    <div>{{ review.create_time|date:'Y-m-d H:i' }}</div>
  </div>
  <div class="my-3">{{ review.comments }}</div>
  {% with review.paper as paper %}
  <div id="card_{{paper.pk}}" class="card p-2">
    <div id="info_{{paper.pk}}" class="text-start">
      <div class="flex-fill">{% include "view/paper-info.html" %}</div>
    </div>
    <div class="my-2">
      <div id="title_{{paper.pk}}" class="d-inline text-start">
        <div id="title_{{paper.pk}}_text" class="d-inline fs-5 fw-bold">{{ paper.title }}</div>
        <a class="ms-2" href="javascript:translate_title({{ paper.pk }}, '{% url 'api:translate_title' %}', '{{csrf_token}}')">翻译</a>
      </div>
      <div id="title_cn_{{ paper.pk }}" class="mt-1 d-none">
      {% if paper.translation and paper.translation.title_cn %}
      {{ paper.translation.title_cn }}
      {% endif %}
      </div>
    </div>

    {% if paper.author_list %}
    <div>
      {% if paper.author_list|length > 10 %}
      <div id="author_{{ paper.pk }}_short" class="d-inline">
        {% for author in paper.author_list|slice:":10" %}
        <a href="{% url 'search' %}?q={{ author|urlencode }}">{{ author }}</a>,
        {% endfor %}
        ...
        <a href="javascript:expand_authors({{ paper.pk }})">&gt;&gt;&gt;</a>
      </div>
      <div id="author_{{ paper.pk }}_long" class="d-none">
        {% for author in paper.author_list %}
        <a href="{% url 'search' %}?q={{ author|urlencode }}">{{ author }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        <a href="javascript:collapse_authors({{ paper.pk }})">&lt;&lt;&lt;</a>
      </div>
      {% else %}
      <div class="d-inline">
        {% for author in paper.author_list %}
        <a href="{% url 'search' %}?q={{ author|urlencode }}">{{ author }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endif %}
    
    <div class="my-3">
      <div>
        <b>Abstract:</b>
      </div>
      <div>
        {% if paper.abstract %}
        <div id="abstract_{{ paper.pk }}_long" class="d-inline">
          {{ paper.abstract }}
        </div>
        <a class="ms-2" href="javascript:translate_abstract({{ paper.pk }}, '{% url 'api:translate_abstract' %}', '{{csrf_token}}')">翻译</a>
        <div id="abstract_cn_{{ paper.pk }}" class="mt-1 d-none">
          {% if paper.translation and paper.translation.abstract_cn %}
          {{ paper.translation.abstract_cn }}
          {% endif %}
        </div>
        {% else %}
        <i>No abstract available.</i>
        {% endif %}
      </div>
    </div>

    {% if paper.keyword_list %}
    <div>
      <b>Keywords:</b>
      {% if paper.keyword_list|length > 3 %}
      <div id="keyword_{{ paper.pk }}_short" class="d-inline">
        {% for keyword in paper.keyword_list|slice:":3" %}
        <a href="{% url 'search' %}?q={{ keyword|urlencode }}">{{ keyword }}</a>,
        {% endfor %}
        ...
        <a href="javascript:expand_keywords({{ paper.pk }})">&gt;&gt;&gt;</a>
      </div>
      <div id="keyword_{{ paper.pk }}_long" class="d-none">
        {% for keyword in paper.keyword_list %}
        <a href="{% url 'search' %}?q={{ keyword|urlencode }}">{{ keyword }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        <a href="javascript:collapse_keywords({{ paper.pk }})">&lt;&lt;&lt;</a>
      </div>
      {% else %}
      <div class="d-inline">
        {% for keyword in paper.keyword_list %}
        <a href="{% url 'search' %}?q={{ keyword|urlencode }}">{{ keyword }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </div>
    {% endif %}

    {% if review.paper.urls %}
    <div class="mt-3">
      <div class="url-label"><b>Related Links:</b></div>
      <div class="url-item"><ul>
        {% with review.paper.urls|splitlines as urls %}
        {% for u in urls %}
        <li><a class="link-success" href="{{ u }}" target="_blank">{{ u }}</a></li>
        {% endfor %}
        {% endwith %}
      </ul></div>
    </div>
    {% endif %}
  </div>
  {% endwith %}

  <div class="text-end my-3">
    {% include "group/review-info-operators.html" %}
  </div>
</div>

<script src="{% static 'js/paper.js' %}"></script>
{% include "group/review-op-script.html" %}

{% if user.is_authenticated %}
<!-- Bootstrap Modal for Loading Spinner -->
<div class="modal" id="loadingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Loading, please wait...</p>
        <p>
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
          </div>
        </p>
        <button type="button" class="btn btn-danger" id="cancelButton">Cancel</button>
      </div>
    </div>
  </div>
</div>

<form method="post">
{% csrf_token %}
<button type="button" id="summarize-by-gpt" class="btn btn-outline-info btn-sm">Summarize by ChatGPT</button>
<textarea id="gpt-answer" class="form-control" style="width:100%;min-height:200px;"></textarea>
</form>
<script>
document.getElementById('summarize-by-gpt').addEventListener('click', function() {
  const abortController = new AbortController();
  const signal = abortController.signal;

  // Show the modal with the spinner
  $('#loadingModal').modal({
    backdrop: 'static',
    keyboard: false
  }).modal('show');

  function getCsrfToken() {
    const csrfTokenInput = document.querySelector('input[name="csrfmiddlewaretoken"]');
    return csrfTokenInput ? csrfTokenInput.value : '';
  }
  const csrftoken = getCsrfToken();
  console.log('csrftoken:', csrftoken);
  const token = getCookie('token');
  const postData = {
    paper_id: '{% if review.paper.doi %}{{review.paper.doi}}{% else %}{% if review.paper.arxiv_id %}{{review.paper.arxiv_id}}{% else %}{% if review.paper.pmid %}{{ review.paper.pmid}}{% else %}{{review.pk}}{% endif %}{% endif %}{% endif %}',
    token: token,
    group_name: '{{group.name}}'
  };
  fetch('/api/summarize_by_gpt', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(postData),
    signal: signal
    })
    .then(response => response.json())
    .then(data => {
      $('#loadingModal').modal('hide');
      console.log(data);
      document.getElementById('gpt-answer').value = data.answer;
    })
    .catch(error => {
      if (error.name === 'AbortError') {
        console.log('Fetch aborted');
      } else {
        console.error('Error fetching paper ID and abstract from Django:', error);
      }
      $('#loadingModal').modal('hide');
    });
});

document.getElementById('cancelButton').onclick = function() {
  abortController.abort();
  $('#loadingModal').modal('hide');
};
</script>
{% endif %}

{% endblock content %}
