{% extends "group/base.html" %}
{% load view_extras %}
{% load static %}

{% block content %}
<div class="border border-1 rounded px-3 pt-3 mb-3 bg-light-hover">
  <div>
    {{ review.paper.pub_year }},
    <i>{{ review.paper.journal }}</i>.
    {% include "group/review-info-id-list.html" %}
  </div>
  <div class="py-2">{% include "group/review-info-badge.html" %}</div>
  <div class="fs-5 fw-bold py-2" id="paper-title-{{paper.pk}}">{{ review.paper.title }}</div>

  <div class="mt-3">
    {{ review.paper.authors|show_author_list }}
  </div>

  <div class="mt-3">
    <span class="fw-bold">Abstract:</span>
    <div>
      {% if review.paper.abstract %}
        {% autoescape off %}
          {{ review.paper.abstract|replace_line_br }}
        {% endautoescape %}
      {% else %}
      <i>No abstract available.</i>
      {% endif %}
    </div>
  </div>

  {% if review.paper.keywords %}
  <div class="mt-3">
    <b>Keywords:</b>
    {{ review.paper.keywords }}
  </div>
  {% endif %}

  {% if review.paper.urls %}
  <div class="mt-3">
    <div class="url-label"><b>Related Links:</b></div>
    <div class="url-item"><ul>
      {% with review.paper.urls|splitlines as urls %}
      {% for u in urls %}
      <li><a class="link-success" href="{{ u }}" target="_blank">{{ u }}</a></li>
      {% endfor %}
      {% endwith %}
    </ul></div>
  </div>
  {% endif %}

  <div class="border border-1 mt-3 p-1">
    <div class="float-end fst-italic">{{ review.paper.create_time|date:'Y-m-d H:i:s' }}</div>
    <div class="mb-3"><a class="link-dark" href="{% url "group:user" id=review.creator.pk group_name=group.name %}">{{ review.creator }}</a>:</div>
    <div>{% autoescape off %}{{ review.comments }}{% endautoescape %}</div>
  </div>

    <div class="text-end my-3">
    {% include "group/review-info-operators.html" %}
  </div>
</div>

{% include "group/review-op-script.html" %}

{% if user.is_authenticated %}
<!-- Bootstrap Modal for Loading Spinner -->
<div class="modal" id="loadingModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <p>Loading, please wait...</p>
        <p>
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only"></span>
          </div>
        </p>
        <button type="button" class="btn btn-danger" id="cancelButton">Cancel</button>
      </div>
    </div>
  </div>
</div>

<form method="post">
{% csrf_token %}
<button type="button" id="summarize-by-gpt" class="btn btn-outline-info btn-sm">Summarize by ChatGPT</button>
<textarea id="gpt-answer" class="form-control" style="width:100%;min-height:200px;"></textarea>
</form>
<script>
document.getElementById('summarize-by-gpt').addEventListener('click', function() {
  const abortController = new AbortController();
  const signal = abortController.signal;

  // Show the modal with the spinner
  $('#loadingModal').modal({
    backdrop: 'static',
    keyboard: false
  }).modal('show');

  function getCsrfToken() {
    const csrfTokenInput = document.querySelector('input[name="csrfmiddlewaretoken"]');
    return csrfTokenInput ? csrfTokenInput.value : '';
  }
  const csrftoken = getCsrfToken();
  console.log('csrftoken:', csrftoken);
  const token = getCookie('token');
  const postData = {
    paper_id: '{% if review.paper.doi %}{{review.paper.doi}}{% else %}{% if review.paper.arxiv_id %}{{review.paper.arxiv_id}}{% else %}{% if review.paper.pmid %}{{ review.paper.pmid}}{% else %}{{review.pk}}{% endif %}{% endif %}{% endif %}',
    token: token,
    group_name: '{{group.name}}'
  };
  fetch('/api/summarize_by_gpt', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
      'X-CSRFToken': csrftoken
    },
    body: JSON.stringify(postData),
    signal: signal
    })
    .then(response => response.json())
    .then(data => {
      $('#loadingModal').modal('hide');
      console.log(data);
      document.getElementById('gpt-answer').value = data.answer;
    })
    .catch(error => {
      if (error.name === 'AbortError') {
        console.log('Fetch aborted');
      } else {
        console.error('Error fetching paper ID and abstract from Django:', error);
      }
      $('#loadingModal').modal('hide');
    });
});

document.getElementById('cancelButton').onclick = function() {
  abortController.abort();
  $('#loadingModal').modal('hide');
};
</script>
{% endif %}

{% endblock content %}
