{% extends "view/base.html" %}

{% block content %}
<div class="page-summary">
  <p>{% autoescape off %}{{ summary_messages }}{% endautoescape %}There are total {{ review_list|length }} paper(s).</p>
</div>
{% if review_list %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Pub Year</th>
      <th scope="col">Journal</th>
      <th scope="col">Title</th>
      <th scope="col">DOI</th>
    </tr>
  </thead>
  <tbody>
{% for review in review_list %}
<div class="paper-item">
  <tr>
    <th scope="row">{{ review.pk }}</th>
    <td>{{ review.paper.pub_year }}</td>
    <td>{{ review.paper.journal }}</td>
    <td>{{ review.paper.title }}</td>
    <td>{{ review.paper.doi }}</td>
  </tr>
  </div>
{% endfor %}
</tbody>
</table>
{% else %}
<p style="padding:20px; height:200px;">No paper is available.</p>
{% endif %}
{% endblock content %}
