{% extends "base.html" %}

{% block page_title %}文献推荐{% if current_page == "recommendations-trash" %}（回收站）{% endif %}{% endblock page_title %}
{% block page_subtitle %}{% autoescape off %}{{ summary_messages }}{% endautoescape %}当前共推荐 {{ reviews.paginator.count }} 篇文献{% if reviews.paginator.num_pages > 1 %}，本页显示第 {{ reviews.start_index }} - {{ reviews.end_index }} 篇{% endif %}。{% endblock page_subtitle %}

{% block content %}
{% if reviews %}

{% include "group/paginator.html" %}

{% for item in reviews %}
<div class="card p-2 m-3 d-flex flex-row">
  <div class="p-2 text-start">{{ forloop.counter }}.</div>
  <div class="p-2 flex-fill text-start">
    <div class="text-start">
      {{ item.paper.journal }},
      {{ item.paper.pub_year }}.
      {% if item.paper.doi %}doi: <a href="https://doi.org/{{ item.paper.doi }}" target="_blank">{{ item.paper.doi }}</a>{% endif %}
      {% if item.paper.pmid %}PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/{{ item.paper.pmid }}" target="_blank">{{ item.paper.pmid }}</a>{% endif %}
    </div>
    <div class="mt-2">
      {% for t in item.trackings.all %}
      <span class="badge" style="background-color:{{t.label.color}}">{{ t.label.name }}</span>
      {% endfor %}
    </div>
    <div class="fs-5 my-3"><b>{{ item.paper.title }}</b></div>
    
    <p>{{ item.author_list | join:", " }}</p>
    {% if item.paper.abstract %}
    <p><b>Abstract:</b> {{ item.paper.abstract }}</p>
    {% endif %}
    {% if item.paper.keywords %}
    <p><b>Keywords:</b> {{ item.paper.keywords }}</p>
    {% endif %}
    <div class="d-flex my-2">
      <div class="text-start align-self-end">推送时间：{{ item.create_time | date:"Y-m-d H:i" }}</div>
      <div class="flex-fill text-end align-self-end">
        <a class="btn btn-primary" href="#">加入个人文献库</a>
        <a class="btn btn-danger" href="#">删除</a>
      </div>
    </div>
  </div>
</div>
{% endfor %}
{% else %}
<div class="container">
  <div class="d-flex">
    <div class="flex-fill text-middle">
      暂无推荐文献。建议<a href="{% url "trackings" %}">添加推荐规则</a>，以便后续系统识别到符合条件的文献时进行推送。
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
