{% extends "view/base.html" %}
{% load static %}
{% load language_filters %}

{% block content %}

<div class="my-3">
  <div class="d-flex">
    <div class="text-start align-self-start">筛选条件：</div>
    <div class="text-start align-self-start ms-2">
      <div class="dropdown">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          {% if status == 'isunread' %}状态：仅未读{% endif %}
          {% if status == 'isread' %}状态：仅已读{% endif %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="btn btn-sm dropdown-item" href="?status=isunread">仅未读</a></li>
          <li><a class="btn btn-sm dropdown-item" href="?status=isread">仅已读</a></li>
        </ul>
      </div>
    </div>
    <div class="text-start align-self-start ms-2">
      <div class="dropdown">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          {% if recommended == 'first' %}仅首次推送{% endif %}
          {% if recommended == 'multi' %}仅多次推送{% endif %}
          {% if recommended == 'all' %}全部显示{% endif %}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          <li><a class="btn btn-sm dropdown-item" href="?recommended=first">仅首次推送</a></li>
          <li><a class="btn btn-sm dropdown-item" href="?recommended=multi">仅多次推送</a></li>
          <li><a class="btn btn-sm dropdown-item" href="?recommended=all">全部显示</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% if papers %}

<div class="my-3 text-start">
当前共 {{ papers.paginator.count }} 篇文献推荐{% if papers.paginator.num_pages > 1 %}，本页显示第 {{ papers.start_index }} - {{ papers.end_index }} 篇{% endif %}。
</div>

{% include "view/paginator.html" %}

{% for paper in papers %}
<div id="card_{{ paper.pk }}" class="card my-3 d-flex flex-row">
  <div class="p-3">{{ paper.display_index }}.</div>
  <div class="p-3 flex-fill">
    <div class="d-flex flex-row">
      <div class="flex-fill">{% include "view/paper-info.html" %}</div>
      <div class="d-flex flex-column flex-lg-row">
        {% if paper.recommended_count > 1 %}
        <div class="text-end align-self-start">
          <div class="badge bg-secondary ms-2">多次推送</div>
        </div>
        {% endif %}
        <div class="text-end align-self-start">
          {% if paper.has_any_review %}
          <div class="badge bg-secondary ms-2 mb-2">已加入个人文献库</div>
          {% else %}
          <a class="btn btn-primary btn-sm text-nowrap ms-2 mb-2" href="javascript:addToLibrary({{ paper.pk }})">加入个人文献库</a>
          {% endif %}
        </div>
        {% if paper.latest_read_time %}
        <div class="text-end align-self-start">
          <a class="btn btn-outline-primary btn-sm text-nowrap ms-2 mb-2" href="javascript:restore_recommendation({{ paper.pk }})">恢复未读</a>
        </div>
        {% else %}
        <div class="text-end align-self-start">
          <a class="btn btn-outline-primary btn-sm text-nowrap ms-2 mb-2" href="javascript:mark_read_recommendation({{ paper.pk }})">标记为已读</a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="mt-2">
      {% for review in paper.review_set.all %}
      {% for label in review.labels.all %}
      <a class="badge" style="background-color:{{ label.color }}" href="javascript:void(0)">{{ label.name }}</a>
      {% endfor %}
      {% endfor %}
    </div>
    <div class="mt-3">
      <div id="title_{{ paper.pk }}" class="d-inline text-start">
        <div id="title_{{ paper.pk }}_text" class="d-inline fs-5 fw-bold"><a href="{% url "paper" id=paper.pk %}">{{ paper.title }}</a></div>
        <a class="ms-2 text-nowrap" href="javascript:translate_title({{ paper.pk }})">翻译</a>
      </div>
      <div id="title_cn_{{ paper.pk }}" class="mt-1 d-none">
      {% if paper.translation and paper.translation.title_cn %}
      {{ paper.translation.title_cn }}
      {% endif %}
      </div>
      {% if paper.language != "eng" %}
      <div class="mt-1">
        <span class="text-start">论文语言：{{ paper.language|readable_language }}</span>
      </div>
      {% endif %}
    </div>
    {% include "view/paper-author-list.html" %}
    {% include "view/paper-abstract.html" %}
    {% include "view/paper-keyword-list.html" %}
    <div class="mt-2">
    {% if current_page == "recommendations" %}
      {% for recommendation in paper.recommendations %}
      <div class="my-2 d-flex flex-column flex-xl-row">
        <div class="text-start align-self-start align-self-xl-end me-3">推送标签：
          {% for label in recommendation.labels.all %}
          <a class="badge" style="background-color:{{ label.color }}" href="javascript:void(0)">{{ label.name }}</a>
          {% endfor %}
        </div>
        <div class="text-start align-self-start align-self-xl-end me-3">推送时间：{{ recommendation.create_time | date:"Y-m-d H:i" }}</div>
        <div class="text-start align-self-start align-self-xl-end me-3">推送源：{{ recommendation.source }}</div>
      </div>
      {% endfor %}
      {% if paper.historical_recommendations %}
        {% for recommendation in paper.historical_recommendations %}
        <div id="historical_recommendations_{{ paper.pk }}" class="my-2 d-flex flex-column flex-xl-row d-none">
          <div class="text-start align-self-start align-self-xl-end me-3">推送标签：
            {% for label in recommendation.labels.all %}
            <a class="badge" style="background-color:{{ label.color }}" href="javascript:void(0)">{{ label.name }}</a>
            {% endfor %}
          </div>
          <div class="text-start align-self-start align-self-xl-end me-3">推送时间：{{ recommendation.create_time | date:"Y-m-d H:i" }}</div>
          <div class="text-start align-self-start align-self-xl-end me-3">推送源：{{ recommendation.source }}</div>
        </div>
        {% endfor %}
        <div id="button_expand_historical_recommendations_{{ paper.pk }}" class="d-block">
          <a class="text-nowrap" href="javascript:expand_recommendations({{ paper.pk }})">&gt;&gt;&gt;</a>
        </div>
        <div id="button_collapse_historical_recommendations_{{ paper.pk }}" class="d-none">
          <a class="text-nowrap" href="javascript:collapse_recommendations({{ paper.pk }})">&lt;&lt;&lt;</a>
        </div>
      {% endif %}
    {% else %}
      {% for recommendation in paper.historical_recommendations %}
      <div class="d-flex my-2">
        <div class="text-start align-self-start align-self-xl-end me-3">推送标签：
          {% for label in recommendation.labels.all %}
          <a class="badge" style="background-color:{{ label.color }}" href="javascript:void(0)">{{ label.name }}</a>
          {% endfor %}
        </div>
        <div class="text-start align-self-start align-self-xl-end me-3">推送时间：{{ recommendation.create_time | date:"Y-m-d H:i" }}</div>
        <div class="text-start align-self-start align-self-xl-end me-3">推送源：{{ recommendation.source }}</div>
      </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
</div>
{% endfor %}

{% include "view/paginator.html" %}
{% include "view/recommendation-op.html" %}
{% include "view/paper-js.html" %}
{% else %}
<div class="m-3">
  <div class="d-flex">
    <div class="flex-fill text-middle pt-5">
      暂无推荐文献。
    </div>
  </div>
</div>
{% endif %}

{% endblock content %}
