{% extends "base.html" %}

{% block page_title %}文献推荐{% if current_page == "recommendations-trash" %}（回收站）{% endif %}{% endblock page_title %}
{% block page_subtitle %}
当前共推荐 {{ reviews.paginator.count }} 篇文献{% if reviews.paginator.num_pages > 1 %}，本页显示第 {{ reviews.start_index }} - {{ reviews.end_index }} 篇{% endif %}。
{% endblock page_subtitle %}

{% block content %}
{% if reviews %}

{% include "group/paginator.html" %}

{% for item in reviews %}
<div id="card_{{item.pk}}" class="card p-2 my-3 d-flex flex-row">
  <div class="p-2 text-start">{{ item.display_index }}.</div>
  <div class="p-2 flex-fill text-start">
    <div id="info_{{item.pk}}" class="text-start">
      {{ item.paper.journal }},
      {{ item.paper.pub_year }}.
      {% if item.paper.doi %}doi: <a href="https://doi.org/{{ item.paper.doi }}" target="_blank">{{ item.paper.doi }}</a>{% endif %}
      {% if item.paper.pmid %}PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/{{ item.paper.pmid }}" target="_blank">{{ item.paper.pmid }}</a>{% endif %}
    </div>
    <div class="d-flex my-2">
      <div class="mt-2">
        {% for label in item.labels.all %}
        <a class="badge" style="background-color:{{label.color}}" href="javascript:void(0)">{{ label.name }}</a>
        {% endfor %}
      </div>
      <div class="flex-fill text-end align-self-end">
        {% if current_page == "recommendations" %}
        <a class="btn btn-primary btn-sm" href="javascript:add_recommendation({{item.pk}})">加入个人文献库</a>
        <a class="btn btn-danger btn-sm" href="javascript:delete_recommendation({{item.pk}})">删除</a>
        {% else %}
        <a class="btn btn-primary btn-sm" href="javascript:restore_recommendation({{item.pk}})">恢复</a>
        <a class="btn btn-danger btn-sm" href="javascript:delete_permanently_recommendation({{item.pk}})">彻底删除</a>
        {% endif %}
      </div>
    </div>
    <div class="fs-5 my-3">
      <div><div id="title_{{item.pk}}" class="d-inline text-start fw-bold">{{ item.paper.title }}</div><a class="btn btn-secondary mx-3 btn-sm" href="javascript:translate_title({{ item.paper.pk }})">翻译标题</a></div>
      <div id="title_cn_{{ item.paper.pk }}" class="fw-bold">
      {% if item.paper.translation and item.paper.translation.title_cn %}
      {{ item.paper.translation.title_cn }}
      {% endif %}
      </div>
    </div>
    
    <div>{{ item.author_list | join:", " }}</div>
    {% if item.paper.abstract %}
    <div class="my-3">
      <div>
        <b>Abstract:</b>
        {% if item.paper.abstract|length > 30 %}
        <div id="abstract_{{ item.paper.pk }}_short" class="d-inline">
          {{ item.paper.abstract | truncatewords:30 }}
          <a href="javascript:expand_abstract({{item.paper.pk}})">展开</a>
        </div>
        <div id="abstract_{{ item.paper.pk }}_long" class="d-none">
          {{ item.paper.abstract }}
          <a href="javascript:collapse_abstract({{item.paper.pk}})">收起</a>
        </div>
        {% else %}
        <div id="abstract_{{ item.paper.pk }}_long" class="d-inline">
          {{ item.paper.abstract }}
        </div>
        {% endif %}
        <a class="btn btn-secondary mx-3 btn-sm" href="javascript:translate_abstract({{ item.paper.pk }})">翻译摘要</a>
        <div id="abstract_cn_{{ item.paper.pk }}" class="d-none">
          {% if item.paper.translation and item.paper.translation.abstract_cn %}
          {{ item.paper.translation.abstract_cn }}
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
    {% if item.paper.keywords %}
    <div><b>Keywords:</b> {{ item.paper.keywords }}</div>
    {% endif %}
    <div class="d-flex my-2">
      <div class="text-start align-self-end me-3">推送源：{{ item.source }}</div>
      <div class="text-start align-self-end">推送时间：{{ item.create_time | date:"Y-m-d H:i" }}</div>
    </div>
  </div>
</div>
{% endfor %}

{% include "group/paginator.html" %}

<!-- Modal -->
<div class="modal fade" id="commentsModal" tabindex="-1" aria-labelledby="commentsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentsModalLabel">加入推荐文献到个人文献库</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="commentsForm">
          <div class="mb-3">
            <div id="dlg_info" class="text-start"></div>
            <div id="dlg_title" class="text-start mt-3 fs-4 fw-bold"></div>
          </div>
          <div class="mb-3">
            <label for="comments" class="form-label">评论</label>
            <textarea class="form-control" id="comments" rows="8" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="submitComments">确定</button>
      </div>
    </div>
  </div>
</div>


<script>

function expand_abstract(id) {
  $('#abstract_' + id + '_short').addClass('d-none');
  $('#abstract_' + id + '_short').removeClass('d-inline');
  $('#abstract_' + id + '_long').addClass('d-inline');
  $('#abstract_' + id + '_long').removeClass('d-none');
}

function collapse_abstract(id) {
  $('#abstract_' + id + '_short').addClass('d-inline');
  $('#abstract_' + id + '_short').removeClass('d-none');
  $('#abstract_' + id + '_long').addClass('d-none');
  $('#abstract_' + id + '_long').removeClass('d-inline');
}

function add_recommendation(id) {
  $('#dlg_info').html($('#info_' + id).html());
  $('#dlg_title').html($('#title_' + id).html());
  $('#comments').val('');
  $('#commentsModal').modal('show');

  $('#submitComments').off('click').on('click', function() {
    const comments = $('#comments').val();
    $('#commentsModal').modal('hide');
    $.ajax({
      url: "{% url 'api:add_recommendation' %}",
      type: 'POST',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: {
        recommendation_id: id,
        comments: comments
      },
      success: function(data) {
        if (!data.success) {
          alert('添加推荐失败！\n' + data.error);
        } else {
          $('#card_' + id).remove();
          if ($('.card').length === 0) {
            location.reload();
          }
        }
      },
      error: function() {
        alert('请求处理中发生错误。');
      }
    });
  });
}

function delete_recommendation(id) {
  $.ajax({
    url: "{% url 'api:delete_recommendation' %}",
    type: 'POST',
    headers: { "X-CSRFToken": '{{csrf_token}}' },
    data: { recommendation_id: id },
    success: function (data) {
      if (!data.success) {
        alert('Delete recommendation failed!\n' + data.error);
      } else {
        $('#card_' + id).remove();
        if ($('.card').length === 0) {
          location.reload();
        }
      }
    },
    error: function () {
      alert('An error occurred while processing your request.');
    }
  });
}

function restore_recommendation(id) {
  $.ajax({
    url: "{% url 'api:restore_recommendation' %}",
    type: 'POST',
    headers: { "X-CSRFToken": '{{csrf_token}}' },
    data: { recommendation_id: id },
    success: function (data) {
      if (!data.success) {
        alert('Restore recommendation failed!\n' + data.error);
      } else {
        $('#card_' + id).remove();
        if ($('.card').length === 0) {
          location.reload();
        }
      }
    },
    error: function () {
      alert('An error occurred while processing your request.');
    }
  });
}

function delete_permanently_recommendation(id) {
  if (confirm('Are you sure to delete the item permanently?')) {
    $.ajax({
      url: "{% url 'api:delete_permanently_recommendation' %}",
      type: 'POST',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: { recommendation_id: id },
      success: function (data) {
        if (!data.success) {
          alert('Delete permanently recommendation failed!\n' + data.error);
        } else {
          $('#card_' + id).remove();
          if ($('.card').length === 0) {
            location.reload();
          }
        }
      },
      error: function () {
        alert('An error occurred while processing your request.');
      }
    });
  }
}

function translate_title(paper_id) {
  $('#title_cn_' + paper_id).html('<div class="spinner-border spinner-border-sm text-primary" role="status"><span class="visually-hidden">Loading...</span></div>');

  $.ajax({
    url: "{% url 'api:translate_title' %}",
    type: 'POST',
    headers: { "X-CSRFToken": '{{csrf_token}}' },
    data: { paper_id: paper_id },
    success: function (data) {
      console.log(data)
      if (!data.success) {
        alert('Translate title failed!\n' + data.error);
      } else {
        $('#title_cn_' + paper_id).html(data.answer);
      }
    },
    error: function () {
      alert('An error occurred while processing your request.');
    }
  });
}

function translate_abstract(paper_id) {
  $('#abstract_cn_' + paper_id).html('<div class="spinner-border spinner-border-sm text-primary" role="status"><span class="visually-hidden">Loading...</span></div>');

  $.ajax({
    url: "{% url 'api:translate_abstract' %}",
    type: 'POST',
    headers: { "X-CSRFToken": '{{csrf_token}}' },
    data: { paper_id: paper_id },
    success: function (data) {
      if (!data.success) {
        alert('Translate title failed!\n' + data.error);
      } else {
        $('#abstract_cn_' + paper_id).html(data.answer);
        $('#abstract_cn_' + paper_id).addClass('d-block');
        $('#abstract_cn_' + paper_id).removeClass('d-none');
      }
    },
    error: function () {
      alert('An error occurred while processing your request.');
    }
  });
}

</script>
{% else %}
<div class="container">
  <div class="d-flex">
    <div class="flex-fill text-middle">
      暂无推荐文献。建议<a href="{% url "trackings" %}">添加推荐规则</a>，以便后续系统识别到符合条件的文献时进行推送。
    </div>
  </div>
</div>
{% endif %}
{% endblock content %}
