{% extends "base.html" %}

{% block content %}
<section>
  <div class="p-3">
    <form class="col-md-8 mx-auto" method="GET">
      <div class="row">
        <label class="form-label mb-3" for="q">通过文献编号搜索文献进行分享：</label>
      </div>
      <div class="input-group w-auto mb-3">
        <input type="text" id="q" name="q" class="form-control border-dark w-50" placeholder="请输入DOI/arXivID/PMID/PMCID" value="{{ query }}" required>
        <button type="submit" class="btn btn-primary">搜索</button>
      </div>
      {% if error_message %}
      <div class="text-danger">{{ error_message }}</div>
      {% endif %}
        <script>
        $('document').ready(function() {
          t = $('#q');
          t.focus()
          l = t.val().length;
          t[0].setSelectionRange(0, l);
        })
      </script>
    </form>
  </div>
</section>

{% if query %}
<section>
  <div class="text-start">共找到 <em>{{ results|length }}</em> 条结果：</div>
  <ol>
    {% for item in results %}
    <li>
      <div class="mb-3 px-3">
        <div class="fs-5" id="paper-title-{{forloop.counter}}">{{ item.title }}</div>
        <div class="text-secondary fst-italic" id="paper-authors-{{forloop.counter}}">
          {% for author in item.authors %}
          {{ author }}{% if not forloop.last %}, {% endif %}
          {% endfor %}
        </div>
        <div class="text-secondary">
          <span id="paper-pub-year-{{forloop.counter}}">{{ item.pub_year }}</span>,
          <span id="paper-journal-{{forloop.counter}}">{{ item.journal }}</span>
        </div>
        <div class="text-secondary">
          {% if item.id.doi %}
          <span class="me-2">DOI: <a class="link-secondary" href="https://doi.org/{{ item.id.doi }}" target="_blank">{{ item.id.doi }}</a></span>
          {% endif %}
          {% if item.id.pmid %}
          <span class="me-2">PMID: <a class="link-secondary" href="https://pubmed.ncbi.nlm.nih.gov/{{ item.id.pmid }}/" target="_blank">{{ item.id.pmid }}</a></span>
          {% endif %}
          {% if item.id.pmcid %}
          <span class="me-2">PMCID: <a class="link-secondary" href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ item.id.pmcid }}/" target="_blank">{{ item.id.pmcid }}</a></span>
          {% endif %}
          {% if item.id.arxiv_id %}
          <span class="me-2">arXivID: <a class="link-secondary" href="https://arxiv.org/abs/{{ item.id.arxiv_id }}" target="_blank">{{ item.id.arxiv_id }}</a></span>
          {% endif %}
          {% if item.id.pii %}
          <span class="me-2">PII: {{ item.id.pii }}</span>
          {% endif %}
        </div>
        <div class="mt-2">
          <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="javascript:share_review({{forloop.counter}});">Share</a>
        </div>
      </div>
    </li>
    {% endfor %}
  </ol>
</section>

<div class="modal fade" id="shareModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="shareModalLabel">Share Paper</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="shareForm" method="post">
          {% csrf_token %}
          <div class="row">
            <div class="form-group">
              <label class="mt-3">
                <div class="fs-5" id="shareModelTitle"></div>
                <div class="text-secondary fst-italic" id="shareModelAuthors"></div>
                <div class="text-secondary">
                  <span id="shareModelPubYear"></span>,
                  <span id="shareModelJournal"></span>
                </div>
              </label>
            </div>
          </div>
          {% if user.is_authenticated and user.is_superuser %}
          <input type="hidden" id="paperEditModalUsername" value="{{user}}">
          {% else %}
          <div class="mb-3 form-group">
            <label class="mt-3" for="paperEditModalUsername">Username</label>
            <input type="text" class="form-control" id="paperEditModalUsername" name="paperEditModalUsername" required>
          </div>
          {% endif %}
          <div class="form-group">
            <label class="mt-3" for="shareModalComment">Comment</label>
            <textarea class="form-control" id="shareModalComment" name="shareModalComment" rows="10" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="shareModalShare">Share</button>
      </div>
    </div>
  </div>
</div>
<script>
function get_review_id(id) {
  var paper_id = '';
  if ($('#paper-doi-' + id)) {
    paper_id = $('#paper-doi-' + id).text();
  } else if ($('#paper-pmid-' + id)) {
    paper_id = $('#paper-pmid-' + id).text();
  } else if ($('#paper-pmcid-' + id)) {
    paper_id = $('#paper-pmcid-' + id).text();
  } else if ($('#paper-arxiv-id-' + id)) {
    paper_id = $('#paper-arxiv-id-' + id).text();
  } else if ($('#paper-cnki-id-' + id)) {
    paper_id = $('#paper-cnki-id-' + id).text();
  }
  return paper_id;
}

function share_review(id) {
  console.log('share_review(' + id + ')');
  $('#shareModelTitle').text($('#paper-title-' + id).text());
  $('#shareModelAuthors').text($('#paper-authors-' + id).text());
  $('#shareModelPubYear').text($('#paper-pub-year-' + id).text());
  $('#shareModelJournal').text($('#paper-journal-' + id).text());
  $('#shareModal').modal('show');
}

$(document).ready(function() {
  $('#shareModal').on('shown.bs.modal', () => {
    $('#shareModalPaperID').focus();
  })

  $('#shareModalQuery').click(function () {
    paper_id = $('#shareModalPaperID').val();
    url = "{% url 'api:query_review' 'xxxxxx' %}".replace('xxxxxx', paper_id);
    $.ajax({
      url: url,
      success: function (data) {
        console.log('ajax return:', data)
        if (!data.success) {
          alert('Edit paper failed.')
        } else {
          $('#shareModalTitle').val(data.results.title);
          $('#shareModalPubYear').val(data.results.pub_year);
          $('#shareModalJournal').val(data.results.journal);
        }
      },
      error: function () {
        // Handle AJAX error
        alert('An error occurred while processing your request.')
      }
    })
  })

  $('#shareModalShare').click(function () {
    $.ajax({
      url: "{% url 'api:edit_review' %}",
      type: 'POST',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: {
        id: $('#shareModalPk').val(),
        paper_id: $('#shareModalPaperID').val(),
        title: $('#shareModalTitle').val(),
        pub_year: $('#shareModalPubYear').val(),
        journal: $('#shareModalJournal').val(),
        comment: $('#shareModalComment').val()
      },
      success: function (data) {
        console.log('ajax return:', data)
        if (!data.success) {
          alert('Edit paper failed.')
        } else {
          location.reload(false);
        }
      },
      error: function () {
        // Handle AJAX error
        alert('An error occurred while processing your request.')
      }
    })
  })
})
</script>

{% endif %}
{% endblock content %}
