{% extends "base.html" %}
{% load static %}
{% load language_filters %}

{% block content %}
<section>
  <div class="p-3">
    <form class="col-md-8 mx-auto" method="GET">
      <div class="row">
        <label class="form-label mb-3" for="q">文献搜索：</label>
      </div>
      <div class="input-group w-auto mb-3">
        <input type="text" id="q" name="q" class="form-control border-dark w-50" placeholder="请输入DOI/arXivID/PMID/PMCID/关键词" value="{{ query }}" required>
        <button type="submit" class="btn btn-primary">搜索</button>
      </div>
      <div class="row text-start text-danger">
        <p><small>
        注意：本站仅支持搜索站内已收录的文献，或根据ID获取单篇文献信息，如需搜索更大范围的其他文献，请移步使用 <a href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank">PubMed</a>、<a class="d-inline" href="https://scholar.google.com/" target="_blank">Google Scholar</a> 或 <a class="d-inline" href="https://arxiv.org/" target="_blank">arXiv</a> 等其他网站。
        </small></p>
      </div>
      {% if error_message %}
      <div class="text-danger">{{ error_message }}</div>
      {% endif %}
        <script>
        $('document').ready(function() {
          t = $('#q');
          t.focus()
          l = t.val().length;
          t[0].setSelectionRange(0, l);
        })
      </script>
    </form>
  </div>
</section>

{% if query %}
<section>
  <div class="my-3 text-start">
    当前共找到 {{ papers.paginator.count }} 篇文献{% if papers.paginator.num_pages > 1 %}，本页显示第 {{ papers.start_index }} - {{ papers.end_index }} 篇{% endif %}。
  </div>

  {% include "view/paginator.html" %}

  {% for paper in papers %}
  <div id="card_{{paper.pk}}" class="card p-2 my-3 d-flex flex-row">
    <div class="p-2 text-start">{{ paper.display_index }}.</div>
    <div class="p-2 text-start flex-fill">
      <div class="d-flex">
        <div class="flex-fill">{% include "view/paper-info.html" %}</div>
        {% if user.is_authenticated %}
        <div class="text-end align-self-start">
          {% if paper.has_any_review %}
          <div class="badge bg-secondary">已加入个人文献库</div>
          {% else %}
          <a class="btn btn-primary btn-sm text-nowrap ms-2" href="javascript:add_search_result({{paper.pk}})">加入个人文献库</a>
          {% endif %}
        </div>
        {% endif %}
      </div>
      {% if user.is_authenticated %}
      <div class="mt-2">
        {% for review in paper.review_set.all %}
          {% for label in review.labels.all %}
        <a class="badge" style="background-color:{{label.color}}" href="javascript:void(0)">{{ label.name }}</a>
          {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
      <div class="my-3">
        <div id="title_{{paper.pk}}" class="d-inline text-start">
          <div id="title_{{paper.pk}}_text" class="d-inline fs-5 fw-bold"><a href="{% url "paper" id=paper.pk %}">{{ paper.title }}</a></div>
          <a class="ms-2" href="javascript:translate_title({{paper.pk}})">翻译</a>
        </div>
        <div id="title_cn_{{ paper.pk }}" class="mt-1 d-none">
        {% if paper.translation and paper.translation.title_cn %}
        {{ paper.translation.title_cn }}
        {% endif %}
        </div>
        {% if paper.language != "eng" %}
        <div class="mt-1">
          <span class="text-start">论文语言：{{ paper.language|readable_language }}</span>
        </div>
        {% endif %}
      </div>
      {% include "view/paper-author-list.html" %}
      {% include "view/paper-abstract.html" %}
      {% include "view/paper-keyword-list.html" %}
    </div>
  </div>
  {% endfor %}

  {% include "view/paginator.html" %}
</section>

<!-- Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" aria-labelledby="commentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="commentModalLabel">加入推荐文献到个人文献库</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="commentForm">
          <div class="mb-3">
            <div id="dlg_info" class="text-start"></div>
            <div id="dlg_title" class="text-start mt-3 fs-4 fw-bold"></div>
          </div>
          <div class="mb-3">
            <label for="comment" class="form-label">笔记</label>
            <textarea class="form-control" id="comment" rows="8" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" id="submitComment">确定</button>
      </div>
    </div>
  </div>
</div>

{% include "view/paper-js.html" %}
<script>
$(document).ready(function() {
  $('#shareModal').on('shown.bs.modal', () => {
    $('#shareModalPaperID').focus();
  })
  $('#commentModal').on('shown.bs.modal', () => {
    $('#comment').focus();
  })
})

function add_search_result(id) {
  $('#dlg_info').html($('#info_' + id).html());
  $('#dlg_title').html($('#title_' + id + '_text').html());
  $('#comment').val('');
  $('#commentModal').modal('show');

  $('#submitComment').off('click').on('click', function() {
    const comment = $('#comment').val();
    $('#commentModal').modal('hide');
    ajaxPostJson({
      url: "{% url 'api:add_search_result' %}",
      headers: { 'X-CSRFToken': '{{csrf_token}}' },
      data: {paper_id: id, comment: comment},
      success: function (data) {
        if (!data.success) {
          alert('添加推荐失败！\n' + data.error);
        } else {
          $('#card_' + id).remove();
          if ($('.card').length === 0) {
            location.reload();
          }
        }
      },
      error: function (xhr, status, error) {
        console.log("XHR:", xhr);
        console.log("Status:", status);
        console.log("Error:", error);
        try {
          var response = JSON.parse(xhr.responseText);
          alert('请求处理发生错误: ' + response.error);
        } catch (e) {
          alert('请求处理发生未知错误: ' + error);
        }
      }
    });
  });
}
</script>
{% endif %}
{% endblock content %}