{% extends "view/base.html" %}
{% load static %}
{% load language_filters %}

{% block content %}
<section>
  <div class="p-2 text-start flex-fill">
    <div class="d-flex">
      <div class="flex-fill">{% include "view/includes/paper-info.html" %}</div>
      {% if user.is_authenticated %}
      <div class="text-end align-self-start">
        {% if paper.has_any_review %}
        <div class="badge bg-secondary">已加入个人文献库</div>
        {% else %}
        <a class="btn btn-primary btn-sm text-nowrap ms-2" href="javascript:add_search_result({{ paper.pk }})">加入个人文献库</a>
        {% endif %}
      </div>
      {% endif %}
    </div>
    <div class="mt-2">
      {% for review in paper.review_set.all %}
        {% for label in review.labels.all %}
      <a class="badge" style="background-color:{{ label.color }}" href="javascript:void(0)">{{ label.name }}</a>
        {% endfor %}
      {% endfor %}
    </div>
    {% include "view/includes/paper-title.html" with title_link=False link_paper=False link_lib_paper=False %}
    {% if paper.language != "eng" %}
    <div class="my-2">
      <span class="text-start">论文语言：{{ paper.language|readable_language }}</span>
    </div>
    {% endif %}

    {% if paper.author_list %}
    <div>
      {% for author in paper.author_list %}
      <a href="{% url 'search' %}?q={{ author|urlencode }}">{{ author }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </div>
    {% endif %}
    {% include "view/includes/paper-abstract.html" with allow_collapse=False %}
    {% if paper.keyword_list %}
    <div>
      <b>Keywords:</b>
      <div class="d-inline">
        {% for keyword in paper.keyword_list %}
        <a href="{% url 'search' %}?q={{ keyword|urlencode }}">{{ keyword }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
      </div>
    </div>
    {% endif %}

    {% if paper.cc_list %}
    <div>
      {% for cc in paper.cc_list %}
      <div>
        <div class="pt-4 fs-5"><b>{{ cc.ref_type }}:</b></div>
        <div class="pt-3 d-flex flex-row">
          <div class="me-3">{{ cc.index }}.</div>
          <div class="text-start">
            <div>{{ cc.citation }}</div>
            <div>
              {% if cc.doi %}DOI: <a href="https://doi.org/{{ cc.doi }}" target="_blank" class="external-link">{{ cc.doi }}</a>{% endif %}
              {% if cc.pmid %}PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/{{ cc.pmid }}" target="_blank" class="external-link">{{ cc.pmid }}</a>{% endif %}
              {% if cc.pmcid %}PMCID:<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ cc.pmcid }} " target="_blank" class="external-link">{{ cc.pmcid }}</a>{% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if paper.ref_list %}
    <div>
      <div class="pt-4 fs-5"><b>Reference:</b></div>
      {% for cc in paper.ref_list %}
      <div class="pt-3 d-flex flex-row">
        <div class="me-3">{{ cc.index }}.</div>
        <div class="text-start">
          <div>{{ cc.citation }}</div>
          <div>
            {% if cc.doi %}DOI: <a href="https://doi.org/{{ cc.doi }}" target="_blank" class="external-link">{{ cc.doi }}</a>{% endif %}
            {% if cc.pmid %}PMID: <a href="https://pubmed.ncbi.nlm.nih.gov/{{ cc.pmid }}" target="_blank" class="external-link">{{ cc.pmid }}</a>{% endif %}
            {% if cc.pmcid %}PMCID:<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ cc.pmcid }} " target="_blank" class="external-link">{{ cc.pmcid }}</a>{% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</section>
{% include "view/includes/paper-js.html" %}
{% endblock content %}
