<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-1JBLE3S3G0"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-1JBLE3S3G0');
</script>
<script>
  window.onload = function() {
      var links = document.getElementsByTagName('a');
      for (var i in links) {
          if (links[i].nodeType != 1) continue;
          console.log(links[i].hostname);
          if (links[i].hostname != '' && links[i].hostname != window.location.hostname) {
              links[i].className += 'external';
              links[i].setAttribute('target', '_blank');
          }
      }
  }
</script>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8CS94B"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
