<script>
function expand_authors(id) {
  var authorShort = document.getElementById('author_' + id + '_short');
  var authorLong = document.getElementById('author_' + id + '_long');
  
  if (authorShort) {
    authorShort.classList.add('d-none');
    authorShort.classList.remove('d-inline');
  }
  if (authorLong) {
    authorLong.classList.add('d-inline');
    authorLong.classList.remove('d-none');
  }
}

function collapse_authors(id) {
  var authorShort = document.getElementById('author_' + id + '_short');
  var authorLong = document.getElementById('author_' + id + '_long');
  
  if (authorShort) {
    authorShort.classList.add('d-inline');
    authorShort.classList.remove('d-none');
  }
  if (authorLong) {
    authorLong.classList.add('d-none');
    authorLong.classList.remove('d-inline');
  }
}
  
function expand_abstract(id) {
  var abstractShort = document.getElementById('abstract_' + id + '_short');
  var abstractLong = document.getElementById('abstract_' + id + '_long');
  
  if (abstractShort) {
    abstractShort.classList.add('d-none');
    abstractShort.classList.remove('d-inline');
  }
  if (abstractLong) {
    abstractLong.classList.add('d-inline');
    abstractLong.classList.remove('d-none');
  }
}

function collapse_abstract(id) {
  var abstractShort = document.getElementById('abstract_' + id + '_short');
  var abstractLong = document.getElementById('abstract_' + id + '_long');
  
  if (abstractShort) {
    abstractShort.classList.add('d-inline');
    abstractShort.classList.remove('d-none');
  }
  if (abstractLong) {
    abstractLong.classList.add('d-none');
    abstractLong.classList.remove('d-inline');
  }
}

function expand_keywords(id) {
  var keywordShort = document.getElementById('keyword_' + id + '_short');
  var keywordLong = document.getElementById('keyword_' + id + '_long');
  
  if (keywordShort) {
    keywordShort.classList.add('d-none');
    keywordShort.classList.remove('d-inline');
  }
  if (keywordLong) {
    keywordLong.classList.add('d-inline');
    keywordLong.classList.remove('d-none');
  }
}

function collapse_keywords(id) {
  var keywordShort = document.getElementById('keyword_' + id + '_short');
  var keywordLong = document.getElementById('keyword_' + id + '_long');
  
  if (keywordShort) {
    keywordShort.classList.add('d-inline');
    keywordShort.classList.remove('d-none');
  }
  if (keywordLong) {
    keywordLong.classList.add('d-none');
    keywordLong.classList.remove('d-inline');
  }
}
</script>