<script>
function setContainerState(fluid) {
  var navbarContainer = document.getElementById('navbarContainer');
  var mainContainer = document.getElementById('mainContainer');
  
  if (navbarContainer && mainContainer) {
    if (fluid) {
      navbarContainer.classList.remove('container-xl');
      navbarContainer.classList.add('container-fluid');
      mainContainer.classList.remove('container-xl');
      mainContainer.classList.add('container-fluid');
    } else {
      navbarContainer.classList.remove('container-fluid');
      navbarContainer.classList.add('container-xl');
      mainContainer.classList.remove('container-fluid');
      mainContainer.classList.add('container-xl');
    }
  }
}

document.addEventListener('DOMContentLoaded', function() {
  var state = (localStorage.getItem('containerState') === 'fluid');
  setContainerState(state);
  
  var toggleContainer = document.getElementById('toggleContainer');
  if (toggleContainer) {
    toggleContainer.checked = state;
    
    toggleContainer.addEventListener('change', function() {
      setContainerState(this.checked);
      localStorage.setItem('containerState', this.checked ? 'fluid' : 'fixed');
    });
  }
});
</script>
