<div id="editReviewModal" class="modal fade" data-bs-backdrop="static" role="dialog">
  <div id="editReviewModalDialog" class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="editReviewModalDialogTitle">修改文献分享评论</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="editReviewForm" method="post" onsubmit="return submit_review(event)">
          <input type="hidden" id="editReviewModalReviewId">
          <input type="hidden" id="editReviewModalPaperId">
          <input type="hidden" id="editReviewModalEditPaperInfo" value="false">
          <div class="from-group text-start flex-fill my-3">
            <label class="mb-3" id="editReviewModalLabel" for="editReviewModalComment"></label>
            <textarea class="form-control" id="editReviewModalComment" name="comment" rows="8" placeholder="请输入评论" required></textarea>
          </div>
          <div id="editReviewModalCard" class="card p-2">
            <div class="d-flex">
              <div class="flex-fill">
                <div class="text-start mb-3">文献信息</div>
              </div>
              <div class="text-end">
                <button type="button" class="btn btn-outline-primary" onclick="javascript:enable_edit_paper()">同时修改文献信息</button>
              </div>
            </div>
          </div>
          <div id="editReviewModalPaperInfo" class="card p-2 d-none">
            <!-- 文献ID -->
            <div class="row align-items-center">
              <div class="col-2 text-end"><label class="mt-3" for="editReviewModalID">文献ID</label></div>
              <div class="col-10 d-flex">
                <div class="flex-fill form-group">
                  <div class="input-group w-auto">
                    <input type="text" class="form-control" id="editReviewModalID" name="editReviewModalID" placeholder="DOI/PMID/PMCID/arXivID">
                    <button type="button" class="btn btn-primary" onclick="javascript:query_paper_info()">提取供参考的文献信息</button>
                  </div>
                </div>
                <div class="text-end ms-2">
                  <button type="button" class="btn btn-outline-primary" onclick="javascript:disable_edit_paper()">取消修改文献信息</button>
                </div>
              </div>
            </div>
            <hr>
            <div class="row align-items-center p-2">
              <div class="col-2"></div>
              <div class="col-5 text-center">待提交的文献信息</div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalAllConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input_all()">&lt;&lt;</button>
              </div>
              <div class="col-4 text-center">供参考的文献信息</div>
            </div>
            <!-- 标题 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">标题</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalTitle" name="title" required></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalTitleConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Title')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalTitle2" readonly></div>
            </div>
            <!-- 杂志 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">杂志</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalJournal" name="journal" required></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalJournalConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Journal')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalJournal2" readonly></div>
            </div>
            <!-- 发表日期 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">发表日期</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalPubDate" name="pub_date"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalPubDateConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('PubDate')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalPubDate2" readonly></div>
            </div>
            <!-- 作者列表 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">作者列表</div>
              <div class="col-5"><textarea class="form-control" id="editReviewModalAuthors" name="authors" rows="3"></textarea></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalAuthorsConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Authors')">&lt;</button>
              </div>
              <div class="col-4"><textarea class="form-control" id="editReviewModalAuthors2" rows="3" readonly></textarea></div>
            </div>
            <!-- 机构列表 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">机构列表</div>
              <div class="col-5"><textarea class="form-control" id="editReviewModalAffiliations" name="affiliations" rows="3"></textarea></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalAffiliationsConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Affiliations')">&lt;</button>
              </div>
              <div class="col-4"><textarea class="form-control" id="editReviewModalAffiliations2" rows="3" readonly></textarea></div>
            </div>
            <!-- 摘要 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">摘要</div>
              <div class="col-5"><textarea class="form-control" id="editReviewModalAbstract" name="abstract" rows="3"></textarea></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalAbstractConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Abstract')">&lt;</button>
              </div>
              <div class="col-4"><textarea class="form-control" id="editReviewModalAbstract2" rows="3" readonly></textarea></div>
            </div>
            <!-- 关键词 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">关键词</div>
              <div class="col-5"><textarea class="form-control" id="editReviewModalKeywords" name="keywords" rows="3"></textarea></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalKeywordsConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Keywords')">&lt;</button>
              </div>
              <div class="col-4"><textarea class="form-control" id="editReviewModalKeywords2" rows="3" readonly></textarea></div>
            </div>
            <!-- URLs -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">URLs</div>
              <div class="col-5"><textarea class="form-control" id="editReviewModalURLs" name="urls" rows="3"></textarea></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalURLsConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('URLs')">&lt;</button>
              </div>
              <div class="col-4"><textarea class="form-control" id="editReviewModalURLs2" rows="3" readonly></textarea></div>
            </div>
            <!-- DOI -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">DOI</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalDOI" name="doi"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalDOIConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('DOI')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalDOI2" readonly></div>
            </div>
            <!-- PMID -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">PMID</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalPMID" name="pmid"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalPMIDConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('PMID')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalPMID2" readonly></div>
            </div>
            <!-- arXiv ID -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">arXiv ID</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalArXivID" name="arxiv_id"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalArXivIDConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('ArXivID')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalArXivID2" readonly></div>
            </div>
            <!-- PMCID -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">PMCID</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalPMCID" name="pmcid"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalPMCIDConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('PMCID')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalPMCID2" readonly></div>
            </div>
            <!-- CNKI ID -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">CNKI ID</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalCNKIID" name="cnki_id"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalCNKIIDConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('CNKIID')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalCNKIID2" readonly></div>
            </div>
            <!-- 论文语种 -->
            <div class="row align-items-center p-2">
              <div class="col-2 text-end">论文语种</div>
              <div class="col-5"><input type="text" class="form-control" id="editReviewModalLang" name="lang"></div>
              <div class="col-1 text-center">
                <button type="button" id="editReviewModalLangConfirm" class="btn btn-outline-primary btn-sm" onclick="fill_input('Lang')">&lt;</button>
              </div>
              <div class="col-4"><input type="text" class="form-control" id="editReviewModalLang2" readonly></div>
            </div>
          </div>
          <div class="text-end mt-3">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script>
function edit_review_new(review_id, paper_id) {
  var reviewIdField = document.getElementById('editReviewModalReviewId');
  var paperIdField = document.getElementById('editReviewModalPaperId');
  var labelField = document.getElementById('editReviewModalLabel');
  var commentField = document.getElementById('editReviewModalComment');
  var titleField = document.getElementById('editReviewModalTitle');
  var journalField = document.getElementById('editReviewModalJournal');
  var doiField = document.getElementById('editReviewModalDOI');
  var pmidField = document.getElementById('editReviewModalPMID');
  var pmcidField = document.getElementById('editReviewModalPMCID');
  var arxivField = document.getElementById('editReviewModalArXivID');
  var cnkiField = document.getElementById('editReviewModalCNKIID');
  var modal = document.getElementById('editReviewModal');
  
  if (reviewIdField) reviewIdField.value = review_id;
  if (paperIdField) paperIdField.value = paper_id;
  
  var creatorElement = document.getElementById('review_creator_' + review_id);
  if (labelField && creatorElement) {
    labelField.textContent = creatorElement.textContent;
  }
  
  var commentElement = document.getElementById('review_comment_' + review_id);
  if (commentField && commentElement) {
    commentField.textContent = commentElement.textContent;
  }
  
  var titleElement = document.getElementById('title_' + paper_id + '_text');
  if (titleField && titleElement) {
    titleField.value = titleElement.textContent;
  }
  
  var journalElement = document.getElementById('journal_' + paper_id);
  if (journalField && journalElement) {
    journalField.value = journalElement.textContent;
  }
  
  var doiElement = document.getElementById('doi_' + paper_id);
  if (doiField && doiElement) {
    doiField.value = doiElement.textContent;
  }
  
  var pmidElement = document.getElementById('pmid_' + paper_id);
  if (pmidField && pmidElement) {
    pmidField.value = pmidElement.textContent;
  }
  
  var pmcidElement = document.getElementById('pmcid_' + paper_id);
  if (pmcidField && pmcidElement) {
    pmcidField.value = pmcidElement.textContent;
  }
  
  var arxivElement = document.getElementById('arxiv_' + paper_id);
  if (arxivField && arxivElement) {
    arxivField.value = arxivElement.textContent;
  }
  
  var cnkiElement = document.getElementById('cnki_' + paper_id);
  if (cnkiField && cnkiElement) {
    cnkiField.value = cnkiElement.textContent;
  }
  
  if (modal) {
    var bootstrapModal = new bootstrap.Modal(modal);
    bootstrapModal.show();
  }
}

function enable_edit_paper() {
  var editPaperInfoField = document.getElementById('editReviewModalEditPaperInfo');
  var paperInfo = document.getElementById('editReviewModalPaperInfo');
  var card = document.getElementById('editReviewModalCard');
  var dialog = document.getElementById('editReviewModalDialog');
  
  if (editPaperInfoField) editPaperInfoField.value = 'true';
  if (paperInfo) {
    paperInfo.classList.add('d-block');
    paperInfo.classList.remove('d-none');
  }
  if (card) {
    card.classList.add('d-none');
    card.classList.remove('d-block');
  }
  if (dialog) {
    dialog.classList.add('modal-xl');
    dialog.classList.remove('modal-lg');
  }
}

function disable_edit_paper() {
  var editPaperInfoField = document.getElementById('editReviewModalEditPaperInfo');
  var paperInfo = document.getElementById('editReviewModalPaperInfo');
  var card = document.getElementById('editReviewModalCard');
  var dialog = document.getElementById('editReviewModalDialog');
  
  if (editPaperInfoField) editPaperInfoField.value = 'false';
  if (paperInfo) {
    paperInfo.classList.add('d-none');
    paperInfo.classList.remove('d-block');
  }
  if (card) {
    card.classList.add('d-block');
    card.classList.remove('d-none');
  }
  if (dialog) {
    dialog.classList.add('modal-lg');
    dialog.classList.remove('modal-xl');
  }
}

function setAndCompareValues(field, value) {
  var element = document.getElementById('editReviewModal' + field + '2');
  var originalElement = document.getElementById('editReviewModal' + field);
  var confirmButton = document.getElementById('editReviewModal' + field + 'Confirm');
  
  if (element) {
    if (Array.isArray(value)) {
      element.value = value.join('\n');
    } else {
      element.value = value;
    }
  }
  
  var originalValue = originalElement ? originalElement.value : '';
  var newValue = element ? element.value : '';
  var isDisabled = originalValue === newValue || newValue === '';
  console.log(field + ': ' + originalValue + ' -> ' + newValue + ' (' + isDisabled + ')');
  
  if (confirmButton) {
    confirmButton.disabled = isDisabled;
  }
}

function fill_input(id) {
  var confirmButton = document.getElementById('editReviewModal' + id + 'Confirm');
  var sourceElement = document.getElementById('editReviewModal' + id + '2');
  var targetElement = document.getElementById('editReviewModal' + id);
  
  if (confirmButton && !confirmButton.disabled && sourceElement && targetElement) {
    targetElement.value = sourceElement.value;
  }
}

function fill_input_all() {
  fill_input('Title');
  fill_input('Journal');
  fill_input('PubDate');
  fill_input('Authors');
  fill_input('Affiliations');
  fill_input('Abstract');
  fill_input('Keywords');
  fill_input('URLs');
  fill_input('DOI');
  fill_input('PMID');
  fill_input('ArXivID');
  fill_input('PMCID');
  fill_input('CNKIID');
  fill_input('Lang');
}

function query_paper_info() {
  var identifierField = document.getElementById('editReviewModalID');
  var identifier = identifierField ? identifierField.value : '';
  
  ajaxPostJson({
    url: "{% url 'api:query_paper_info' %}",
    data: { 'identifier': identifier },
    success: function (data) {
      if (!data.success) {
        alert('Failed to query paper info by ID (' + identifier + ').\n' + data.error);
      } else {
        console.log(data.results);
        setAndCompareValues('Title', data.results.title);
        setAndCompareValues('Journal', data.results.journal);
        setAndCompareValues('PubDate', data.results.pub_date);
        setAndCompareValues('Authors', data.results.authors);
        setAndCompareValues('Affiliations', data.results.affiliations);
        setAndCompareValues('Abstract', data.results.abstract);
        setAndCompareValues('Keywords', data.results.keywords);
        setAndCompareValues('URLs', data.results.urls);
        setAndCompareValues('DOI', data.results.doi);
        setAndCompareValues('PMID', data.results.pmid);
        setAndCompareValues('ArXivID', data.results.arxiv_id);
        setAndCompareValues('PMCID', data.results.pmcid);
        setAndCompareValues('CNKIID', data.results.cnki_id);
        setAndCompareValues('Lang', data.results.language);
      }
    }
  });
}

function submit_review(event) {
  event.preventDefault();
  
  var reviewIdField = document.getElementById('editReviewModalReviewId');
  var paperIdField = document.getElementById('editReviewModalPaperId');
  var commentField = document.getElementById('editReviewModalComment');
  var editPaperInfoField = document.getElementById('editReviewModalEditPaperInfo');
  
  var data = {
    review_id: reviewIdField ? reviewIdField.value : '',
    paper_id: paperIdField ? paperIdField.value : '',
    comment: commentField ? commentField.value : ''
  };
  
  var editPaperInfo = editPaperInfoField ? editPaperInfoField.value : '';
  if (editPaperInfo) {
    data.paper = {};
    
    var titleField = document.getElementById('editReviewModalTitle');
    var journalField = document.getElementById('editReviewModalJournal');
    var pubDateField = document.getElementById('editReviewModalPubDate');
    var authorsField = document.getElementById('editReviewModalAuthors');
    var affiliationsField = document.getElementById('editReviewModalAffiliations');
    var abstractField = document.getElementById('editReviewModalAbstract');
    var keywordsField = document.getElementById('editReviewModalKeywords');
    var urlsField = document.getElementById('editReviewModalURLs');
    var doiField = document.getElementById('editReviewModalDOI');
    var pmidField = document.getElementById('editReviewModalPMID');
    var arxivField = document.getElementById('editReviewModalArXivID');
    var pmcidField = document.getElementById('editReviewModalPMCID');
    var cnkiField = document.getElementById('editReviewModalCNKIID');
    var langField = document.getElementById('editReviewModalLang');
    
    data.paper.title = titleField ? titleField.value : '';
    data.paper.journal = journalField ? journalField.value : '';
    data.paper.pub_date = pubDateField ? pubDateField.value : '';
    data.paper.authors = authorsField ? authorsField.value : '';
    data.paper.affiliations = affiliationsField ? affiliationsField.value : '';
    data.paper.abstract = abstractField ? abstractField.value : '';
    data.paper.keywords = keywordsField ? keywordsField.value : '';
    data.paper.urls = urlsField ? urlsField.value : '';
    data.paper.doi = doiField ? doiField.value : '';
    data.paper.pmid = pmidField ? pmidField.value : '';
    data.paper.arxiv_id = arxivField ? arxivField.value : '';
    data.paper.pmcid = pmcidField ? pmcidField.value : '';
    data.paper.cnki_id = cnkiField ? cnkiField.value : '';
    data.paper.lang = langField ? langField.value : '';
  }
  
  console.log(data);
  ajaxPostJson({
    url: "{% url 'api:submit_review' %}",
    data: data,
    success: function (data) {
      if (!data.success) {
        alert('submit_review failed!\n' + data.error);
      } else {
        location.reload(false);
      }
    }
  });
  return false;
}
</script>

<div class="modal fade" id="reviewModal" data-bs-backdrop="static" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="reviewModalLabel">Edit review</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="reviewEditForm" method="post">
          <input type="hidden" id="reviewModalPk">
          <div class="row mb-3">
            <div class="col-6 form-group">
              <label class="mt-3" for="reviewModalUsername">Username</label>
              <input type="text" class="form-control" id="reviewModalUsername" name="reviewModalUsername" required readonly>
            </div>
            <div class="col-6 form-group">
              <label class="mt-3" for="reviewModalCreateTime">Create Time</label>
              <input type="text" class="form-control" id="reviewModalCreateTime" name="reviewModalCreateTime" required readonly>
            </div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
              <label class="mt-3" for="reviewModalreviewID">review ID</label>
              <div class="input-group w-auto">
                <input type="text" class="form-control" id="reviewModalreviewID" name="reviewModalreviewID" required placeholder="DOI/PMID/PMCID/arXivID">
                <button type="button" class="btn btn-primary" id="reviewModalQuery">Query</button>
              </div>
            </div>
            <div class="col-2 form-group">
              <label class="mt-3" for="reviewModalPubYear">Pub Year</label>
              <input type="text" class="form-control" id="reviewModalPubYear" name="reviewModalPubYear" required>
            </div>
            <div class="col-4 form-group">
              <label class="mt-3" for="reviewModalJournal">Journal</label>
              <input type="text" class="form-control" id="reviewModalJournal" name="reviewModalJournal" required>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="mt-3" for="reviewModalTitle">Title</label>
            <input type="text" class="form-control" id="reviewModalTitle" name="reviewModalTitle" required>
          </div>
          <div class="form-group">
            <label class="mt-3" for="reviewModalComment">Comment</label>
            <textarea class="form-control" id="reviewModalComment" name="reviewModalComment" rows="10"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer mt-3">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" id="reviewModalSave">Save</button>
      </div>
    </div>
  </div>
</div>
<script>
function get_review_id(id) {
  var review_id = '';
  var doiElement = document.getElementById('review-doi-' + id);
  var pmidElement = document.getElementById('review-pmid-' + id);
  var pmcidElement = document.getElementById('review-pmcid-' + id);
  var arxivElement = document.getElementById('review-arxiv-id-' + id);
  var cnkiElement = document.getElementById('review-cnki-id-' + id);
  
  if (doiElement) {
    review_id = doiElement.textContent;
  } else if (pmidElement) {
    review_id = pmidElement.textContent;
  } else if (pmcidElement) {
    review_id = pmcidElement.textContent;
  } else if (arxivElement) {
    review_id = arxivElement.textContent;
  } else if (cnkiElement) {
    review_id = cnkiElement.textContent;
  }
  return review_id;
}

function edit_review(id) {
  var label = document.getElementById('reviewModalLabel');
  var usernameField = document.getElementById('reviewModalUsername');
  var createTimeField = document.getElementById('reviewModalCreateTime');
  var pkField = document.getElementById('reviewModalPk');
  var reviewIdField = document.getElementById('reviewModalreviewID');
  var titleField = document.getElementById('reviewModalTitle');
  var pubYearField = document.getElementById('reviewModalPubYear');
  var journalField = document.getElementById('reviewModalJournal');
  var commentField = document.getElementById('reviewModalComment');
  var modal = document.getElementById('reviewModal');
  
  if (label) label.textContent = 'Edit review';
  if (usernameField) usernameField.readOnly = true;
  if (createTimeField) createTimeField.readOnly = true;
  if (pkField) pkField.value = id;
  
  var userElement = document.getElementById('review-user-' + id);
  if (usernameField && userElement) {
    usernameField.value = userElement.textContent;
  }
  
  var createTimeElement = document.getElementById('review-create-time-' + id);
  if (createTimeField && createTimeElement) {
    createTimeField.value = createTimeElement.textContent;
  }
  
  if (reviewIdField) {
    reviewIdField.value = get_review_id(id);
  }
  
  var titleElement = document.getElementById('review-title-' + id);
  if (titleField && titleElement) {
    titleField.value = titleElement.textContent;
  }
  
  var pubYearElement = document.getElementById('review-pub-year-' + id);
  if (pubYearField && pubYearElement) {
    pubYearField.value = pubYearElement.textContent;
  }
  
  var journalElement = document.getElementById('review-journal-' + id);
  if (journalField && journalElement) {
    journalField.value = journalElement.textContent;
  }
  
  var commentElement = document.getElementById('review-comment-' + id);
  if (commentField && commentElement) {
    commentField.value = commentElement.textContent;
  }
  
  if (modal) {
    var bootstrapModal = new bootstrap.Modal(modal);
    bootstrapModal.show();
  }
}

function add_review() {
  var label = document.getElementById('reviewModalLabel');
  var usernameField = document.getElementById('reviewModalUsername');
  var createTimeField = document.getElementById('reviewModalCreateTime');
  var pkField = document.getElementById('reviewModalPk');
  var reviewIdField = document.getElementById('reviewModalreviewID');
  var titleField = document.getElementById('reviewModalTitle');
  var pubYearField = document.getElementById('reviewModalPubYear');
  var journalField = document.getElementById('reviewModalJournal');
  var commentField = document.getElementById('reviewModalComment');
  var modal = document.getElementById('reviewModal');
  
  if (label) label.textContent = 'Add review';
  if (usernameField) usernameField.readOnly = false;
  if (createTimeField) createTimeField.readOnly = false;
  if (pkField) pkField.value = '';
  if (usernameField) usernameField.value = '';
  if (createTimeField) createTimeField.value = '';
  if (reviewIdField) reviewIdField.value = '';
  if (titleField) titleField.value = '';
  if (pubYearField) pubYearField.value = '';
  if (journalField) journalField.value = '';
  if (commentField) commentField.value = '';
  
  if (modal) {
    var bootstrapModal = new bootstrap.Modal(modal);
    bootstrapModal.show();
  }
}

document.addEventListener('DOMContentLoaded', function() {
  var reviewModal = document.getElementById('reviewModal');
  if (reviewModal) {
    reviewModal.addEventListener('shown.bs.modal', function() {
      var label = document.getElementById('reviewModalLabel');
      var usernameField = document.getElementById('reviewModalUsername');
      var reviewIdField = document.getElementById('reviewModalreviewID');
      
      if (label && label.textContent == 'Add review') {
        if (usernameField) {
          usernameField.focus();
        }
      } else {
        if (reviewIdField) {
          reviewIdField.focus();
        }
      }
    });
  }

  var reviewModalQuery = document.getElementById('reviewModalQuery');
  if (reviewModalQuery) {
    reviewModalQuery.addEventListener('click', function() {
      var reviewIdField = document.getElementById('reviewModalreviewID');
      var review_id = reviewIdField ? reviewIdField.value : '';
      var url = "{% url 'api:query_review' 'xxxxxx' %}".replace('xxxxxx', review_id);
      
      ajaxPostJson({
        url: url,
        success: function (data) {
          if (!data.success) {
            alert('Failed to query review info by ID (' + review_id + ').\n' + data.error);
          } else {
            var titleField = document.getElementById('reviewModalTitle');
            var pubYearField = document.getElementById('reviewModalPubYear');
            var journalField = document.getElementById('reviewModalJournal');
            
            if (titleField) titleField.value = data.results.title || '';
            if (pubYearField) pubYearField.value = data.results.pub_year || '';
            if (journalField) journalField.value = data.results.journal || '';
          }
        }
      });
    });
  }

  function ajax_add_review() {
    var usernameField = document.getElementById('reviewModalUsername');
    var createTimeField = document.getElementById('reviewModalCreateTime');
    var reviewIdField = document.getElementById('reviewModalreviewID');
    var titleField = document.getElementById('reviewModalTitle');
    var pubYearField = document.getElementById('reviewModalPubYear');
    var journalField = document.getElementById('reviewModalJournal');
    var commentField = document.getElementById('reviewModalComment');
    
    ajaxPostJson({
      url: "{% url 'api:add_review' %}",
      data: {
        group_name: '{{ group.name }}',
        username: usernameField ? usernameField.value : '',
        create_time: createTimeField ? createTimeField.value : '',
        review_id: reviewIdField ? reviewIdField.value : '',
        title: titleField ? titleField.value : '',
        pub_year: pubYearField ? pubYearField.value : '',
        journal: journalField ? journalField.value : '',
        comment: commentField ? commentField.value : ''
      },
      success: function (data) {
        if (!data.success) {
          alert('Add review failed!\n' + data.error);
        } else {
          location.reload(false);
        }
      }
    });
  }

  function ajax_edit_review() {
    var pkField = document.getElementById('reviewModalPk');
    var reviewIdField = document.getElementById('reviewModalreviewID');
    var titleField = document.getElementById('reviewModalTitle');
    var pubYearField = document.getElementById('reviewModalPubYear');
    var journalField = document.getElementById('reviewModalJournal');
    var commentField = document.getElementById('reviewModalComment');
    
    ajaxPostJson({
      url: "{% url 'api:edit_review' %}",
      data: {
        id: pkField ? pkField.value : '',
        review_id: reviewIdField ? reviewIdField.value : '',
        title: titleField ? titleField.value : '',
        pub_year: pubYearField ? pubYearField.value : '',
        journal: journalField ? journalField.value : '',
        comment: commentField ? commentField.value : ''
      },
      success: function (data) {
        if (!data.success) {
          alert('Edit review failed!\n' + data.error);
        } else {
          location.reload(false);
        }
      }
    });
  }

  var reviewModalSave = document.getElementById('reviewModalSave');
  if (reviewModalSave) {
    reviewModalSave.addEventListener('click', function() {
      var label = document.getElementById('reviewModalLabel');
      if (label && label.textContent == 'Add review') {
        ajax_add_review();
      } else {
        ajax_edit_review();
      }
    });
  }
});

function delete_review(id) {
  if (confirm('Are you sure to delete the item?')) {
    ajaxPostJson({
      url: "{% url 'api:delete_review' %}",
      data: { review_id: id },
      success: function (data) {
        if (!data.success) {
          alert('Delete review failed!\n' + data.error);
        } else {
          location.reload(false);
        }
      }
    });
  }
}

function restore_review(id) {
  ajaxPostJson({
    url: "{% url 'api:restore_review' %}",
    data: { review_id: id },
    success: function (data) {
      if (!data.success) {
        alert('Restore review failed!\n' + data.error);
      } else {
        location.reload(false);
      }
    }
  });
}

function delete_review_forever(id) {
  if (confirm('Are you sure to delete the item forever?')) {
    ajaxPostJson({
      url: "{% url 'api:delete_review_forever' %}",
      data: { review_id: id },
      success: function (data) {
        if (!data.success) {
          alert('Delete review failed!\n' + data.error);
        } else {
          location.reload(false);
        }
      }
    });
  }
}
</script>