<div class="d-flex flex-row">
  <div id="review_creator_{{ review.pk }}" class="text-start flex-fill">
    <a href="{% url "group:user" id=review.creator.pk group_name=group.name %}">{{ review.creator }}</a>
    ({{review.create_time|date:'Y-m-d H:i'}}):
  </div>
  {% if user.is_authenticated and user.is_superuser %}
  <div class="text-end align-self-start">
    <a class="btn btn-outline-primary btn-sm text-nowrap ms-2" href="/admin/core/review/{{ review.pk }}/change/" target="_blank">编辑分享</a>
  </div>
  <div class="text-end align-self-start">
    <a class="btn btn-outline-secondary btn-sm text-nowrap ms-2" href="/admin/core/paper/{{ review.paper.pk }}/change/" target="_blank">编辑文献</a>
  </div>
  {% endif %}
</div>