{% extends "base.html" %}

{% block nav %}
<a href="/">Home</a> &gt; <a href="/group">Group</a> &gt; {{ group.name }}
<h2>{{ group.display_name }}</h2>
{% endblock nav %}

{% block content %}
<div class="container-fluid">
<h2 style="text-align: center;">Add A New Paper</h2>
<hr>
{{ form.errors }}
<form id="paper-form" method="post">{% csrf_token %}
  {% include "group/paper-item-form.html" %}
  <hr>
  <div class="row">
    <div class="col-25"></div>
    <div class="col-75"><input type="submit" value="Add"></div>
  </div>
<form>
</div>
{% endblock content %}

{% block menu %}{% include "group/menu.html" %}{% endblock menu %}
