{% extends "group/base.html" %}

{% block content %}
<div class="page-summary">
  <p>{% autoescape off %}{{ summary_messages }}{% endautoescape %}{% if group.name != "xiangma" %}There are total {{ total_count }} paper(s).{% else %}共有 {{ total_count }} 篇文献。{% endif %}</p>
</div>
{% if paper_list %}

{% include "group/paginator.html" %}

{% for paper in paper_list %}
<div class="paper-item">
  {% include "group/paper-item-as-card.html" %}
</div>
{% endfor %}

{% include "group/paginator.html" %}

{% else %}
<p style="padding:20px; height:200px;">No paper is available.</p>
{% endif %}
{% endblock content %}
