<div class="list-group text-center">
  <a class="list-group-item list-group-item-action {% if current_page == "all" %}active{% endif %}"
    href="{% url 'group:all' group_name=group.name %}">All Papers</a>
  <a class="list-group-item list-group-item-action {% if current_page == "recent" %}active{% endif %}"
    href="{% url 'group:recent' group_name=group.name %}">Recent</a>
  <a class="list-group-item list-group-item-action {% if current_page == "stat" %}active{% endif %}"
    href="{% url 'group:stat' group_name=group.name %}">Stat</a>
  {% if user.is_authenticated %}
  <a class="list-group-item list-group-item-action {% if current_page == "trash" %}active{% endif %}"
    href="{% url 'group:trash' group_name=group.name %}">Trash</a>
  <a class="list-group-item list-group-item-action {% if current_page == "add" %}active{% endif %}"
    href="{% url 'group:add' group_name=group.name %}">Add New</a>
  {% endif %}
</div>
