<div class="modal fade" id="paperEditModal" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="paperEditModalLabel">Edit Paper Info</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="paperEditForm" method="post">
          {% csrf_token %}
          <input type="hidden" id="paperEditModalPk">
          <div class="row mb-3">
            <div class="col-6 form-group">
              <label class="mt-3" for="paperEditModalUsername">Username</label>
              <input type="text" class="form-control" id="paperEditModalUsername" name="paperEditModalUsername" required disabled>
            </div>
            <div class="col-6 form-group">
              <label class="mt-3" for="paperEditModalCreateTime">CreateTime</label>
              <input type="text" class="form-control" id="paperEditModalCreateTime" name="paperEditModalCreateTime" required disabled>
            </div>
          </div>
          <div class="row">
            <div class="col-6 form-group">
              <label class="mt-3" for="paperEditModalPaperID">Paper ID</label>
              <div class="input-group w-auto">
                <input type="text" class="form-control" id="paperEditModalPaperID" name="paperEditModalPaperID" required placeholder="DOI/PMID/PMCID/arXivID">
                <button type="button" class="btn btn-primary" id="paperEditModalQuery">Query</button>
              </div>
            </div>
            <div class="col-2 form-group">
              <label class="mt-3" for="paperEditModalPubYear">PubYear</label>
              <input type="text" class="form-control" id="paperEditModalPubYear" name="paperEditModalPubYear" required>
            </div>
            <div class="col-4 form-group">
              <label class="mt-3" for="paperEditModalJournal">Journal</label>
              <input type="text" class="form-control" id="paperEditModalJournal" name="paperEditModalJournal" required>
            </div>
          </div>
          <div class="form-group mb-3">
            <label class="mt-3" for="paperEditModalTitle">Title</label>
            <input type="text" class="form-control" id="paperEditModalTitle" name="paperEditModalTitle" required>
          </div>
          <div class="form-group">
            <label class="mt-3" for="paperEditModalComment">Comment</label>
            <textarea class="form-control" id="paperEditModalComment" name="paperEditModalComment" rows="10"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancer</button>
        <button type="button" class="btn btn-primary" id="paperEditModalSave">Save</button>
      </div>
    </div>
  </div>
</div>
<script>
function get_paper_id(id) {
  var paper_id = '';
  if ($('#paper-doi-' + id)) {
    paper_id = $('#paper-doi-' + id).text();
  } else if ($('#paper-pmid-' + id)) {
    paper_id = $('#paper-pmid-' + id).text();
  } else if ($('#paper-pmcid-' + id)) {
    paper_id = $('#paper-pmcid-' + id).text();
  } else if ($('#paper-arxiv-id-' + id)) {
    paper_id = $('#paper-arxiv-id-' + id).text();
  } else if ($('#paper-cnki-id-' + id)) {
    paper_id = $('#paper-cnki-id-' + id).text();
  }
  return paper_id;
}

function edit_paper(id) {
  $('#paperEditModalPk').val(id);
  $('#paperEditModalUsername').val($('#paper-user-' + id).text());
  $('#paperEditModalCreateTime').val($('#paper-create-time-' + id).text());
  $('#paperEditModalPaperID').val(get_paper_id(id));
  $('#paperEditModalTitle').val($('#paper-title-' + id).text());
  $('#paperEditModalPubYear').val($('#paper-pub-year-' + id).text());
  $('#paperEditModalJournal').val($('#paper-journal-' + id).text());
  $('#paperEditModalComment').val($('#paper-comment-' + id).text());
  $('#paperEditModal').modal('show');
}

$(document).ready(function() {
  $('#paperEditModal').on('shown.bs.modal', () => {
    $('#paperEditModalPaperID').focus();
  })

  $('#paperEditModalQuery').click(function () {
    paper_id = $('#paperEditModalPaperID').val();
    url = "{% url 'api:query_paper' 'xxxxxx' %}".replace('xxxxxx', paper_id);
    $.ajax({
      url: url,
      success: function (data) {
        console.log('ajax return:', data)
        if (!data.success) {
          alert('Edit paper failed.')
        } else {
          $('#paperEditModalTitle').val(data.results.title);
          $('#paperEditModalPubYear').val(data.results.pub_year);
          $('#paperEditModalJournal').val(data.results.journal);
        }
      },
      error: function () {
        // Handle AJAX error
        alert('An error occurred while processing your request.')
      }
    })
  })

  $('#paperEditModalSave').click(function () {
    $.ajax({
      url: "{% url 'api:edit_paper' %}",
      type: 'POST',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: {
        id: $('#paperEditModalPk').val(),
        paper_id: $('#paperEditModalPaperID').val(),
        title: $('#paperEditModalTitle').val(),
        pub_year: $('#paperEditModalPubYear').val(),
        journal: $('#paperEditModalJournal').val(),
        comment: $('#paperEditModalComment').val()
      },
      success: function (data) {
        console.log('ajax return:', data)
        if (!data.success) {
          alert('Edit paper failed.')
        } else {
          location.reload(false);
        }
      },
      error: function () {
        // Handle AJAX error
        alert('An error occurred while processing your request.')
      }
    })
  })
})

function delete_paper(id) {
  if (confirm('Are you sure to delete the item?')) {
    $.ajax({
      url: "{% url 'api:delete_paper' %}",
      type: 'POST',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: { paper_id: id },
      success: function (data) {
        console.log('ajax return:', data)
        if (!data.success) {
          alert('Delete paper failed.')
        } else {
          location.reload(false);
        }
      },
      error: function () {
        // Handle AJAX error
        alert('An error occurred while processing your request.')
      }
    });
  }
}

function restore_paper(id) {
  $.ajax({
    url: "{% url 'api:restore_paper' %}",
    type: 'POST',
    headers: { "X-CSRFToken": '{{csrf_token}}' },
    data: { paper_id: id },
    success: function (data) {
      console.log('ajax return:', data)
      if (!data.success) {
        alert('Restore paper failed.')
      } else {
        location.reload(false);
      }
    },
    error: function () {
      // Handle AJAX error
      alert('An error occurred while processing your request.')
    }
  });
}

function delete_paper_forever(id) {
  if (confirm('Are you sure to delete the item forever?')) {
    $.ajax({
      url: "{% url 'api:delete_paper_forever' %}",
      type: 'POST',
      headers: { "X-CSRFToken": '{{csrf_token}}' },
      data: { paper_id: id },
      success: function (data) {
        console.log('ajax return:', data)
        if (!data.success) {
          alert('Delete paper failed.')
        } else {
          location.reload(false);
        }
      },
      error: function () {
        // Handle AJAX error
        alert('An error occurred while processing your request.')
      }
    });
  }
}
</script>
