{% if paper.doi %}
DOI:
<a class="link-success" href="https://doi.org/{{ paper.doi }}" target="_blank">{{ paper.doi }}</a>
{% endif %}

{% if paper.pmid %}
PMID:
<a class="link-success" href="http://www.ncbi.nlm.nih.gov/pubmed/{{ paper.pmid }}" target="_blank">{{ paper.pmid }}</a>
{% endif %}

{% if paper.pmcid %}
PMCID:
<a class="link-success" href="http://www.ncbi.nlm.nih.gov/pmc/articles/{{ paper.pmcid }}" target="_blank">{{ paper.pmcid }}</a>
{% endif %}

{% if paper.arxiv_id %}
arXiv ID:
<a class="link-success" href="https://arxiv.org/abs/{{ paper.arxiv_id }}" target="_blank">{{ paper.arxiv_id }}</a>
{% endif %}

{% if paper.cnki_id %}
CNKI ID:
<a class="link-success" href="https://kns.cnki.net/kcms/detail/detail.aspx?dbcode=CJFD&filename={{ paper.cnki_id }}" target="_blank">{{ paper.cnki_id|escape }}</a>
{% endif %}
