{% if user.is_authenticated %}
{% if current_page == 'trash' %}
  <span class="ms-1">
    <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="javascript:restore_paper({{paper.pk}})">Restore</a>
  </span>
  <span class="ms-1">
    <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="javascript:delete_paper_forever({{paper.pk}})">Delete Forever</a>
  </span>
{% else %}
  <span class="ms-1">
    <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="javascript:edit_paper({{paper.pk}})">Edit</a>
  </span>
  <span class="ms-1">
    <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="javascript:delete_paper({{paper.pk}});">Delete</a>
  </span>
{% endif %}
{% endif %}
