<table class="table table-sm table-bordered table-striped table-hover text-center caption-top mx-auto">
  <caption class="text-center">
    <h4 class="text-dark">{{stat.title}}</h4>
  </caption>
  <thread>
    <tr class="table-dark">
      {% for name in stat.columns %}
      <th scope="col">{{name}}</th>
      {% endfor %}
    </tr>
  </thread>
  <tbody>
    {% if not stat.content %}
      <tr><td colspan="3">尚无任何记录</td></tr>
    {% else %}
      {% for i in stat.content %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>
        {% if i.link %}
          <a class="link-dark" href="{{i.link}}">{{i.name}}</a>
        {% elif i.id %}
          <a class="link-dark" href="{% url "group:user" id=i.id group_name=group.name %}">{{i.name}}</a>
        {% else %}
          {{i.name}}
        {% endif %}
        </td>
        <td>{{i.count}}</td>
      </tr>
      {% endfor %}
    {% endif %}
    {% if stat.full_rank %}
    <tr>
      <td colspan="3">
        <a class="link-success" href="{{stat.full_rank}}">完整榜单</a>
      </td>
    </tr>
    {% endif %}
  </tbody>
</table>
