body {
    margin: 0;
    font-family: Arial, "Microsoft YaHei", Sans-Serif;
}

a {
    color: #33f;
}

a:hover {
    color: #f33;
}

header {
    margin: 0;
    background-color: #eee;
    border-top: solid 3px #bf9000;
    border-bottom: solid 1px #999;
    flex: 0 0 auto;
}

.banner {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    display: flex;
}

.search-box {
    height: 30px;
    width: 100%;
    margin: auto;
    right: 0;
    flex: 1 1 auto;
    text-align: center;
}

.search-input {
    width: 50%;
    max-width: 800px;
    margin: auto;
    background-color: transparent;
    border: 1px solid #999;
}

.search-button {
    height: 30px;
    font-size: 12px;
    margin: auto;
    right: 0;
    flex: none;
}

.login-button {
    height: 30px;
    font-size: 12px;
    margin: auto;
    right: 0;
    flex: none;
}

header h1.logo {
    margin: 0;
    padding: 10px;
    font-family: Helvetica;
    font-size: 24px;
    font-weight: 900;
    flex: none;
}

header h1.logo:hover {
    background-color: #ddd;
}

header h1.logo a {
    text-decoration: none;
    color: #333;
}

.left-sidebar {
    width: 150px;
    border-right: solid 1px #999;
    flex: 0 0 auto;
}

.left-sidebar a {
    text-decoration: none;
    color: #333;
}

.left-sidebar .menu-item {
    padding: 10px;
    cursor: pointer;
    font-size: 11pt;
}

.left-sidebar .menu-item:hover {
    background-color: #fc9;
    color: black;
    font-weight: bold;
}

.left-sidebar .current-item {
    background-color: #eee;
    border-left: solid 3px #bf9000;
    color: #333;
    font-weight: bold;
}

.content {
    width: calc(100% - 151px);
    flex: 0 0 auto;
}

.error_message {
    position: relative;
    margin: 0;
    padding: 5px 10px;
    border: 1px solid #999;
    background-color: #ff9;
    color: #c33;
}

.close {
    cursor: pointer;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 0 8px;
    transform: translate(0%, -10%);
}

.close:hover {
    font-weight: bold;
    background: #ccc;
}

article {
    margin: 0 auto;
    padding: 0;
    max-width: 960px;
}

footer {
    margin: 0;
    padding: 10px;
    background-color: #ccc;
}

footer p {
    text-align: center;
    font-size: 10pt;
}

.page-summary {
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #999;
    background-color: #eef;
}

.paper-item {
    margin: 10px;
    padding: 0;
    border: 1px dotted #333;
    border-top: 3px solid #bf9000;
}

.paper-item .paper-info-block {
    padding: 0 10px;
    background-color: #f0f0f0;
}

.paper-item .paper-comments-block {
    padding: 0 10px;
}

.paper-item:hover {
    background-color: #ffe;
}

.paper-item .paper-op-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 5px 0;
}

.paper-item .paper-op-list-sub-left {
    margin-right: auto;
    text-align: left;
    flex: 1 1 none;
}

.paper-item .paper-op-list-sub-right {
    margin-left: auto;
    text-align: right;
    flex: 1 1 none;
}

.paper-item .paper-sep-line {
    margin: 0;
    padding: 0;
    border-top: 1px dashed #666;
}

.paper-item .paper-info {
    margin: 0;
    padding: 0;
}

.paper-item .paper-title {
    margin: 0;
    padding: 0.5em 0;
    font-size: 1.2em;
}

.paper-item .paper-abstract {
    margin: 0;
    padding: 0 0 0.5em 0;
    word-break: break-word;
}

.paper-item .paper-comments-head {
    margin: 0;
    padding: 0.5em 0;
}

.paper-item .paper-comments {
    margin: 0;
    padding: 0 0 0.5em 0;
    word-break: break-word;
}

@media (max-width: 600px) {
    .left-sidebar {
        display: none;
    }
    .content {
        width: 100%;
    }
}