<style>
  .journal-if, .journal-q1, .journal-q2, .journal-q3, .journal-q4 {
    margin: 0px;
    padding: 2px 4px;
    color: white;
    font-size: 0.8rem;
    border: 0px;
    white-space: nowrap;
  }
  .journal-if {
    background-color: rgb(0, 113, 203); # 蓝色
  }
  .journal-q1 {
    background-color: rgb(234, 51, 32); # 红色
  }
  .journal-q2 {
    background-color: rgb(242, 196, 64); # 黄色
  }
  .journal-q3 {
    background-color: rgb(71, 173, 92); # 绿色
  }
  .journal-q4 {
    background-color: rgb(54, 110, 186); # 蓝色
  }
</style>
