{% extends "base.html" %}

{% block main %}
<div class="container py-5">
  <h2>About Paper-Hub</h2>
  <p>Paper-Hub is an open source website for research paper sharing. The source code is hosted <a class="link-success" href="https://github.com/yanlinlin82/paper-hub.cn/" target="_blank">GitHub</a></p>
  <p>All suggestions are welcome! Please <a class="link-success" href="https://github.com/yanlinlin82/paper-hub.cn/issues/new" target="_blank">submit an issue on GitHub.</a></p>
</div>
{% endblock main %}
