<!DOCTYPE html>{% load static %}{% load view_extras %}{% load tz %}{% timezone TIME_ZONE %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>文献收藏与分享平台 | Paper-Hub</title>
  <meta name="description" content="轻量级在线平台，方便文献收藏、分享及社群互动。">
  <meta name="keywords" content="文献, 收藏, 分享, 社群, 在线平台">
  <meta name="author" content="颜林林">
  <meta name="google-site-verification" content="CJeulU9yTowOBo-3EpJYEAhlHcG1NAHauYkG4LiIVQY">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}">
  <script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
  <link href="{% static 'bootstrap-5.3.3-dist/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js' %}"></script>
  <style>
    html {scroll-padding-top: 40px;}
    a {text-decoration: none;}
    a:hover {text-decoration: underline;}
    .external-link::after {content: ' \2197'; font-size: 0.8em; margin-left: 0.2em; display: inline-block;}
    .fixed-div {
      width: 100%;
      height: calc(100vh - 80px);
      overflow-y: auto;
      background-color: #f8f9fa;
    }
    #hint {
      display: none;
      position: absolute;
      background: #eee;
      z-index: 1000;
      padding: 10px;
      border-radius: 5px;
      width: 200px;
    }
  </style>
  {% block customize_style %}{% endblock customize_style %}
  <script>
  function ajaxPostJson(options) {
    var csrfToken = $('meta[name="csrf-token"]').attr('content');
    var settings = $.extend(true, {
      type: 'POST',
      contentType: 'application/json',
      headers: { 'X-CSRFToken': csrfToken },
      'error': function (xhr, status, error) {
        console.log("XHR:", xhr);
        console.log("Status:", status);
        console.log("Error:", error);
        try {
          var response = JSON.parse(xhr.responseText);
          alert('请求处理发生错误: ' + response.error);
        } catch (e) {
          alert('请求处理发生未知错误: ' + error);
        }
      }
    }, options);
    if (settings.data) {
      settings.data = JSON.stringify(settings.data);
    }
    $.ajax(settings);
  }
  </script>
  {% block customize_script %}{% endblock customize_script %}
  {% include "includes/cookie-js.html" %}
</head>

<body class="d-flex flex-column" style="width:100vw; height:100vh;">

<nav class="navbar navbar-expand bg-body-tertiary border-bottom border-body">
  <div class="container-xl">
    <div style="min-width:200px;">
      <a class="navbar-brand" href="{% url 'index' %}"><img class="img-fluid" src="{% static 'images/banner-b.png' %}" width="150" height="40" alt="Paper-Hub"></a>
    </div>

    <div class="row" style="width:100%;">
      <div class="col-12 col-lg-7">
        {% if current_page != "search" %}
        <form class="flex-fill">
          <div class="input-group text-start" style="min-width:250px; max-width:500px;">
            <input id="q" name="q" class="form-control border-secondary-subtle" type="search" value="{{ query }}" placeholder="搜索文献" aria-label="Search">
            <button class="btn btn-outline border-secondary-subtle text-nowrap" type="submit">搜索</button>
            <div id="hint" class="border border-warning p-3 text-danger">
              <p><small>
                注意：本站仅支持搜索站内已收录的文献{% if user.is_authenticated %}，或根据ID获取单篇文献信息{% endif %}，如需搜索更大范围的其他文献，请移步使用 <a href="https://pubmed.ncbi.nlm.nih.gov/" target="_blank" class="external-link">PubMed</a>、<a href="https://scholar.google.com/" target="_blank" class="external-link">Google Scholar</a> 或 <a href="https://arxiv.org/" target="_blank" class="external-link">arXiv</a> 等其他网站。
              </small></p>
            </div>
          </div>
        </form>
        {% endif %}
      </div>

      <div class="col-12 col-lg-5">
        <ul class="navbar-nav nav justify-content-end ms-3">
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">首页</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'library:index' %}">文献库</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'group:index' %}">社群</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.core_user_profile.nickname }}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="javascript:logout();">退出登录</a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">登录</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</nav>

<div class="flex-fill container-xl">
  {% block main %}
  <div class="d-flex flex-row" style="width:100%; height:100%; min-width: 600px;">
    <nav class="bg-light col-12 fixed-div" style="width:200px">
      {% block navbar %}{% endblock navbar %}
    </nav>
    <div class="flex-fill text-start mt-3 ms-3 fixed-div">
      <div id="content" class="d-flex flex-column" style="height:100%; overflow-y:auto;">
        <a name="top"></a>

        <article class="flex-fill">
          {% block content %}{% endblock content %}
        </article>

        <footer class="bg-secondary text-white text-center py-3">
          <div class="py-2">
            <a class="link-light external-link" href="https://yanlinlin.cn/" target="_blank">&copy; 2022 - 2024</a> | <a class="link-light external-link" href="http://beian.miit.gov.cn/" target="_blank">京ICP备18031542号-9</a> | <a class="link-light external-link" href="https://github.com/yanlinlin82/paper-hub.cn/" target="_blank">GitHub</a>
          </div>
          <div class="py-1">
            基于 <a class="link-light external-link" href="https://www.djangoproject.com/" target="_blank">Django</a> 和 <a class="link-light external-link" href="https://getbootstrap.com/" target="_blank">Bootstrap</a> 开发
          </div>
        </footer>
      </div>
    </div>
  </div>
  {% endblock main %}
</div>

{% include "includes/scroll-to-top.html" %}
{% include "includes/loading-modal.html" %}
{% include "includes/user-login.html" %}
{% include "includes/google-tag.html" %}

<script>
$(document).ready(function() {
  $('#q').focus(function() {
    var inputWidth = $(this).outerWidth();
    $('#hint').css({
        display: 'block',
        top: $(this).position().top + $(this).outerHeight() + 5,
        left: $(this).position().left,
        width: inputWidth
    });
  }).blur(function() {
    $('#hint').css('display', 'none');
  });
});
</script>
</body>
</html>
{% endtimezone %}
